div::-webkit-scrollbar {
    width: 8px;  /* 스크롤바의 너비 */
}

div::-webkit-scrollbar-thumb {
    height: 5%; /* 스크롤바의 길이 */
    background: #FFECB4; /* 스크롤바의 색상 */
    border-radius: 10px;
}

div::-webkit-scrollbar-track {
    background: transparent;  /*스크롤바 뒷 배경 색상*/
}

.familybg11{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 110px;
    font-size: 20px;
    border: solid 2px #5a3d2b;
    border-radius: 4px;
    margin-bottom: 5px;
    margin-top: 5px;

}

.familybg2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    /*border: solid 2px pink;*/
}

.familyprofle{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    /*border: solid 1px red;*/
}

.familycontent{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    /*border: solid 1px blue;*/
}

.agreeBtn{
    width: auto;
    height: auto;
    font-size: 18px;
    background: #FFECB4;
    color: #5a3d2b;
    border-top: #FFECB4;
    border-right: #FFECB4;
    border-left: 2px solid #F4A127;
    border-bottom: 2px solid #F4A127;
    border-radius: 8px;
    overflow: hidden;
}

.refuseBtn{
    width: auto;
    height: auto;
    font-size: 18px;
    background: #FFECB4;
    color: #5a3d2b;
    border-top: #FFECB4;
    border-right: #FFECB4;
    border-left: 2px solid #F4A127;
    border-bottom: 2px solid #F4A127;
    border-radius: 8px;
    overflow: hidden;
}

.deleteBtn{
    background-color: #FFECB4;
    border-top: #FFECB4;
    border-right: #FFECB4;
    border-left: 2px solid #F4A127;
    border-bottom: 2px solid #F4A127;
    border-radius: 8px;
    font-size: 20px;
    color: #F4A127;
    margin-right: 10px;
    width: 60px;
}

.deleteBtn:hover{
    color: #5a3d2b;
    background-color: #FFECB4;
}