#player, #playlist {
    position: relative;
    height: 100%;
    width: 100%;
    font-size: 11px;
    font-family: Verdana, Arial, sans-serif;
    cursor: pointer;
    line-height: 1.2
}

#player .item, #player .mainImage, #player .ui-slider-handle, #player #seekerSlider, #player #seeker {
    height: 25px;
    top: 0;
    position: absolute
}

#player .text, #player #seekerBase, #player #seekerBuffered, #player {
    position: absolute
}

#player a {
    text-decoration: none
}

#player a:hover {
    text-decoration: underline
}

#player #baseLeft {
    z-index: 1
}

#player #baseRight {
    z-index: 1;
    right: 0;
    background-position: right top
}

#player #play {
    z-index: 3
}

#player .item {
    z-index: 2
}

#player .bound {
    position: relative;
    height: 100%
}

#player .text {
    z-index: 2;
    font-size: 11px;
    height: 20px;
    top: 4px;
    line-height: 18px;
    font-family: Verdana, Arial, sans-serif
}

#player #jp-title {
    position: absolute;
    top: 6px;
    height: 20px;
    width: 150px;
    display: block;
    overflow: hidden;
    z-index: 2;
    cursor: help
}

#player .jp-scrollingtext {
    position: absolute;
    white-space: nowrap;
    font-family: 'Trebuchet MS', Arial;
    font-size: 13px;
    font-weight: bold;
    text-align: right;
    color: #000
}

#player .button, #player .ui-slider-handle {
    cursor: pointer
}

#player #seekerSliderBase {
    z-index: 3;
    margin-left: -3.5px;
    top: 9px;
    width: 7px;
    height: 6px
}

#player #seekerBuffered {
    z-index: 1;
    width: 70%;
    top: 9px;
    height: 5px;
    left: 0
}

#player #seekerBase {
    z-index: 2;
    width: 100%;
    border: 1px solid;
    top: 9px;
    height: 4px;
    left: -1px
}

#player #tooltip {
    width: 115px;
    text-align: center
}

#playlist {
    border-bottom: 1px solid
}

#playlist .module {
    background: white;
    border: 1px solid;
    border-bottom: 0
}

#playlistContainer {
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1
}

#playlist h3 {
    border-bottom: 1px solid;
    font-weight: bold;
    padding: 3px 5px
}

#playlist li {
    cursor: pointer;
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    line-height: 18px
}

#playlist .items {
    overflow-x: hidden;
    overflow-y: auto;
    right: 0;
    left: 0;
    list-style-type: decimal;
    list-style-position: inside;
    position: absolute;
    top: 0;
    bottom: 0;
}

#playlist .item {
    cursor: pointer;
    padding: 3px 5px;
    width: 1000px
}

#playerH .ui-slider-handle, #playerH #seekerBase, #playerH #seekerBuffered, #playerH .text, #playerH #volume, #playerH #seekerSlider, #playerH #seeker {
    position: absolute
}

#playerH .bound {
    position: relative;
    height: 100%
}

#playerH .text {
    z-index: 2;
    font-size: 11px;
    height: 20px;
    top: 5px;
    cursor: pointer
}

#playerH .ui-slider-handle, #playerH #seekerBase, #playerH #seekerBuffered {
    cursor: pointer
}

#playerH #seekerSliderBase {
    margin-left: -7px;
    margin-right: -7px
}

#playerH #tooltip {
    width: 115px;
    text-align: center
}

#entertainmentH #sharebox {
    position: absolute;
    top: 75px
}

#entertainmentH #sharetext {
    margin-top: 15px;
    margin-left: 20px
}

#entertainmentH #fbcommentbox {
    position: absolute;
    top: 120px;
    left: 10px;
    overflow: auto;
    height: 240px;
    width: 490px
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0
}

.clearfix {
    display: inline-block
}

/*\*/
* html .clearfix {
    height: 1%
}

.clearfix {
    display: block
}

/**/
.tooltip-message {
    background: #000;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif;
    font-size: 12px;
    line-height: 15px;
    position: absolute;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    z-index: 9999999;
    pointer-events: none;
    width: auto;
    cursor: help
}

.my-custom-theme {
    position: absolute;
    text-align: center;
    z-index: 9999999;
    pointer-events: none;
    width: auto
}

.tooltip-message img {
    border-radius: 2px
}

.tooltip-arrow {
    display: block;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    width: 100%;
    height: 5px;
    position: absolute;
    left: 0;
    z-index: -1
}

.tooltip-arrow-top {
    bottom: -3px;
    margin: 0 auto;
    text-align: center
}

.tooltip-arrow-top-right {
    bottom: -3px;
    margin-left: -10px;
    text-align: right
}

.tooltip-arrow-top-left {
    bottom: -3px;
    margin-left: 10px;
    text-align: left
}

.tooltip-arrow-bottom {
    top: -10px;
    margin: 0 auto;
    text-align: center
}

.tooltip-arrow-bottom-right {
    top: -10px;
    margin-left: -10px;
    text-align: right
}

.tooltip-arrow-bottom-left {
    top: -10px;
    margin-left: 10px;
    text-align: left
}

.tooltip-arrow-left {
    top: 0;
    right: -18px;
    margin: 0 auto;
    text-align: right
}

.tooltip-arrow-right {
    top: 0;
    left: -8px;
    margin: 0 auto;
    text-align: left
}

.tooltip-slide {
    height: 0;
    position: absolute;
    width: auto;
    z-index: 9999999;
    overflow: hidden
}

.tooltipster-clean-cut {
    background-color: #f9f9f9;
    border: 1px solid #dadada;
    box-shadow: inset 0 1px 0 #fff;
    color: #595959;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    z-index: 9999999;
    pointer-events: none;
    width: auto;
    overflow: visible
}

.tooltipster-clean-cut .tooltip-arrow {
    text-shadow: 0 2px 0 #dadada, 0px 1px 0 #dadada
}