@font-face {
    font-family: font;
    src: url("/static/hssaemaulfont.woff") format("woff");
}

* {
    box-sizing: border-box;
    font-family: font;
}


a{
    text-decoration: none;
    color: #F4A127;
}

.anchor:hover{
    color: #5a3d2b;
    cursor: pointer;
}




body {
    height: 100%;
    width: 100%;
    margin: 50px;
    display: flex;
    justify-content: center;
}

/* index*/

.mainsection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.ponyland {
    width: 400px;
    height: 100px;
    background: rgba(90, 61, 43, 1);
    color: rgba(244, 161, 39, 1);
    border-radius: 8px;
    border-top: 1px solid #5a3d2b;
    border-right: 1px solid #5a3d2b;
    border-left: 3px solid #F4A127;
    border-bottom: 3px solid #F4A127;
    font-size: 50px;
    margin-top: 10px;
}

.login {
    width: 400px;
    height: 100px;
    background: #FFECB4;
    border-top: 1px solid #FFECB4;
    border-right: 1px solid #FFECB4;
    border-left: 3px solid #F4A127;
    border-bottom: 3px solid #F4A127;
    color: rgba(90, 61, 43, 1);
    border-radius: 8px;
    font-size: 50px;
    margin-top: 10px;
}




/* login------------------------------------------------------------------------------------ */
.logintitle {
    text-align: center;
    font-size: 80px;
    color: rgba(244, 161, 39, 1);
    color: rgba(244, 161, 39, 1);
}

.loginsection {
    width: 400px;
    height: 600px;
    background: #5a3d2b;
    border-left: 4px solid rgba(244, 161, 39, 1);
    border-bottom: 4px solid rgba(244, 161, 39, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.container {
    display: flex;
    flex-direction: column;
}

.logincontainer{
    display: flex;
    flex-direction: column;
    /*flex-wrap: wrap;*/
    /*gap: 0px;*/
}


.loginbtn {
    width: 250px;
    height: 40px;
    background: #FFECB4;
    border-top: 1px solid rgba(90, 61, 43, 1);
    border-right: 1px solid rgba(90, 61, 43, 1);
    border-left: 3px solid rgba(244, 161, 39, 1);
    border-bottom: 3px solid rgba(244, 161, 39, 1);
    color: rgba(90, 61, 43, 1);
    border-radius: 8px;
    font-size: 25px;
    margin-top: 20px;
}

.loginfind {
    color: rgba(244, 161, 39, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
}

.loginbg {
    display: flex;
    margin-top: 20px;
    width: 250px;
    height: 40px;
    background: white;
    border-top: 1px solid rgba(90, 61, 43, 1);
    border-right: 1px solid rgba(90, 61, 43, 1);
    border-left: 3px solid rgba(244, 161, 39, 1);
    border-bottom: 3px solid rgba(244, 161, 39, 1);
    border-radius: 8px;
    font-size: 25px;
}

/* signin------------------------------------------------------------------------------------ */

.signinsection {
    width: 400px;
    height: auto;
    background: #5a3d2b;
    border-left: 4px solid rgba(244, 161, 39, 1);
    border-bottom: 4px solid rgba(244, 161, 39, 1);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.signinform {
    /*display: flex;*/
    /*flex-direction: column;*/
    color: rgba(244, 161, 39, 1);
    font-size: 15px;
}

.signinbg{
    display: flex;
    width: 250px;
    height: 40px;
    background: white;
    border-top: 1px solid rgba(90, 61, 43, 1);
    border-right: 1px solid rgba(90, 61, 43, 1);
    border-left: 3px solid rgba(244, 161, 39, 1);
    border-bottom: 3px solid rgba(244, 161, 39, 1);
    border-radius: 8px;
    font-size: 20px;
}

.signinbtn{
    /*margin-top: 20px;*/
    width: 250px;
    height: 40px;
    background: #FFECB4;
    border-top: 1px solid rgba(90, 61, 43, 1);
    border-right: 1px solid rgba(90, 61, 43, 1);
    border-left: 3px solid rgba(244, 161, 39, 1);
    border-bottom: 3px solid rgba(244, 161, 39, 1);
    color: rgba(90, 61, 43, 1);
    border-radius: 8px;
    font-size: 30px;
}

/* main------------------------------------------------------------------------------------ */
.bg1 {
    display: flex;
    width: 1000px;
    height: 750px;
    background: #5a3d2b;
    border-left: 4px solid #F4A127;
    border-bottom: 4px solid #F4A127;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.bg2 {
    display: flex;
    width: 388px;
    height: 730px;
    background: white;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.profile0{
    font-size: 30px;
    color: #F4A127;
}

.profile1{
    display: flex;
    width: 80%;
    height: 310px;
    background: rgba(255, 255, 255, 1);
    border: 5px solid rgba(90, 61, 43, 1);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.profile2 {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    width: 80%;
    color: rgba(244, 161, 39, 1);
    font-size: 20px;
}

.profile3{
    display: flex;
    flex-direction: row;
    gap: 5px;
    width: 80%;
}

.profile4{
    width: 80%;
    flex-direction: column;
}

.profile4-1{
    font-size: 30px;
    color: #F4A127;
}

.profile4-2{
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*margin-top: 10px;*/
    width: 280px;
    height: 35px;
    color: #F4A127;
    font-size: 15px;
}


.profilebtn {
    width: 100px;
    height: 30px;
    background: rgba(90, 61, 43, 1);
    font-size: 20px;
    color: rgba(244, 161, 39, 1);
    border-top: 1px solid rgba(90, 61, 43, 1);
    border-right: 1px solid rgba(90, 61, 43, 1);
    border-left: 3px solid rgba(244, 161, 39, 1);
    border-bottom: 3px solid rgba(244, 161, 39, 1);
    border-radius: 8px;
    overflow: hidden;
}

.bg3 {
    display: flex;
    width: 582px;
    height: 730px;
    background: white;
    border-radius: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 100px;
}

.bg3-1{
    display: flex;
    font-size: 25px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #F4A127;
    height: 30%;
    width: 100%;
}

.updatednews{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 25px;

    color: #5a3d2b;

    /*gap: 10px;*/
}

.updatednews2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}

.updatednews2-1{
    display: flex;
    justify-content: center;
    border: 1px solid #5a3d2b;
    border-radius: 8px;
    width: 200px;
    height: 30px;
}


.bg3-2{
    display: flex;
    font-size: 30px;
    flex-direction: column;
    height: 70%;
    color: #F4A127;
    flex-wrap: wrap;
    gap: 10px;


}

.bg3-2-1-title{
    /*width: 600px;*/
    /*margin: auto;*/
}

.bg3-2-1{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #5a3d2b;
    border-radius: 4px;
    width: 500px;
    height: 400px;
    /*margin: auto;*/
}

.bg3-2-2{
    /*margin: auto;*/
    /*width: 600px;*/
    /*margin-top: 10px;*/
}


.top {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.top > div{
    display: flex;
    width: 200px;
    height: 25px;
    background: #5a3d2b;
    margin-bottom: 10px;
    border-left: 4px solid #F4A127;
    border-bottom: 4px solid #F4A127;
    border-radius: 8px;
    color: white;
    justify-content: center;
}

.today {
    width: 200px;
    height: 20px;
    background: rgba(90, 61, 43, 1);
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 0px;
    border: 2px solid rgba(244, 161, 39, 1);
    color: white;
    border-radius: 8px;
    overflow: hidden;
    text-align: center;
}

.music {
    width: 200px;
    height: 20px;
    background: rgba(90, 61, 43, 1);
    opacity: 1;
    position: absolute;
    top: 7px;
    left: 800px;
    border: 2px solid rgba(244, 161, 39, 1);
    border-radius: 8px;
    overflow: hidden;
    color: white;
    text-align: center;
}


.side {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
}


.btnmain1 {
    width: 100px;
    height: 60px;
    background: rgba(244, 161, 39, 1);
    font-size: 30px;
    color: rgba(90, 61, 43, 1);
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    border-top: 1px solid #F4A127;
    border-right: 1px solid #F4A127;
    border-left: 3px solid #5a3d2b;
    border-bottom: 3px solid #5a3d2b;
}

.btnmain2 {
    width: 100px;
    height: 60px;
    background: rgba(90, 61, 43, 1);
    font-size: 30px;
    color: rgba(244, 161, 39, 1);
    position: relative;
    border-top: 1px solid rgba(90, 61, 43, 1);
    border-right: 1px solid rgba(90, 61, 43, 1);
    border-left: 3px solid rgba(244, 161, 39, 1);
    border-bottom: 3px solid rgba(244, 161, 39, 1);
    border-radius: 8px;
    overflow: hidden;
}

button:hover {
    color: white;
    cursor: pointer;
}


/*--------------------------------guestbook*/
.bg3in {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 50px;
    width: 90%;
    /*border: 1px solid black;*/
}
.bgcontent{
    /*border: 1px solid #5a3d2b;*/
    border-radius: 4px;
    margin-bottom: 50px;
}

.gbtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin-bottom: 5px;
    border-radius: 4px;
    color: #F4A127;
    background-color: #faf7ed;
    /*background-color: #FFECB4;*/
}

.gbcontent {
    border-radius: 4px;
    /*border: 1px solid #5a3d2b;*/
    margin-top: 10px;
    margin-bottom: 10px;
}

.gbprofile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gbprofile1{
    display: flex;
    border: 1px solid black;
    width: 30%;
}

.gbprofile2 {
    /*border: 1px solid black;*/
    height: 150px;
    width: 150px;
    /*width: 100px;*/
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #5a3d2b;
}

.gbtext {
    display: flex;
    width: 70%;
    font-size: 24px;
    color: #5a3d2b;
    /*align-items: center;*/
    justify-content: center;
    align-items: center;

}

.gbcmtinput {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
    /*border: 1px solid red;*/
}

.gbcmt {
    display: flex;
    width: 100%;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.gbcmt2{
    /*display: flex;*/
    color: #5a3d2b;
    /*background-color: #fffefa;*/
    margin-bottom: 7px;
    border-radius: 4px;
}

.gbcmttitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20px;
    /*margin-bottom: 5px;*/
    border-radius: 4px;
    color: #F4A127;
}

.gbcmt > input {
    /*border-radius: 8px;*/
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 40px;
    border: 1px solid darkgray;
}

.gbbutton {
    width: 50px;
    height: 40px;
    background: #FFECB4;
    font-size: 20px;
    color: #5a3d2b;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: 1px solid #5a3d2b;
}

.gowrite{
    background: transparent;
    color: #F4A127;
    border: transparent;
    font-size: 16px;
}

.gowrite:hover{
    color: #5a3d2b;
}
/*--------------------------------guesbook write*/
.gbwcontent{
    display: flex;
    height: 400px;
    border-radius: 4px;
    align-items: center;
    border: 1px solid #5a3d2b;
}

.gbwtype{
    height: 200px;
    width: 400px;
}

/*--------------------------------album*/

.albg3 {
    display: flex;
    width: 582px;
    height: 730px;
    background: white;
    border-radius: 8px;
    justify-content: center;

    overflow: scroll;
}

.alpic{
    display: flex;
    height: 300px;
    /*border: 1px solid black;*/
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    color: #F4A127;
    margin-top: 10px;
}

.alcontext{
    display: flex;
    height: 100px;
    /*border: 1px solid black;*/
    font-size: 24px;
    color: #5a3d2b;
    /*border-radius: 4px;*/
    align-items: center;
    justify-content: center;
}

.alwritebtn{
    background: transparent;
    color: #F4A127;
    border: transparent;
    font-size: 16px;
}
.alwritebtn:hover{
    color: #5a3d2b;
}
.image{
    width: 100%;
    height: 100%;
}


.scm-player-container {
    display: flex;
    align-items: center;
    justify-content: center;
}