<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="PonyLand.PonyLand.Mapper.AlbumMapper">
    <insert id="insert">
        insert into album values(album_seq.nextval,#{Album_title},#{Album_contents},#{Album_oriname},#{Album_sysname},sysdate,#{Album_writer},#{Album_host})
    </insert>


    <select id="selectAll" resultType="PonyLand.PonyLand.dto.AlbumDTO">
        select * from Album order by Album_seq desc
    </select>

    <delete id="delete">
        delete from Album where Album_seq = #{value}


    </delete>
    <update id="update">
        update Album set Album_title=#{Album_title},Album_contents=#{Album_contents} where Album_seq = #{Album_seq}
    </update>

    <select id="count" resultType="int">
        select count(*) as count from album where album_writer = #{value}

    </select>

    <select id="select" resultType="PonyLand.PonyLand.dto.AlbumDTO">
        SELECT * FROM (
        SELECT * FROM album ORDER BY album_seq DESC
        ) WHERE rownum <![CDATA[ <= ]]> 5


    </select>

    <select id="selectByDate" resultType="int">   <!--1일안에 올린 글 개수-->
        SELECT count(*)
        FROM Album
        WHERE album_write_date >= (sysdate-1) and album_writer = #{value}

    </select>





<!--    <select id="selectHost" resultType="PonyLand.PonyLand.dto.AlbumDTO">-->
<!--            select album_host from album where album_seq = #{Album_seq}-->
<!--    </select>-->

<!--    <select id="replycount" resultType="int">-->

<!--        select * from-->
<!--        (select-->
<!--        album.*,-->
<!--        row_number() over(order by Album_seq desc) rn,-->
<!--        (select count(*) from album_comment where album_comment_parent_seq=album_seq) replycount-->
<!--        from Album)-->
<!--        where rn between 1 and 5-->
<!--    </select>-->




<!--    <select id="selectByPageNo" resultType="PonyLand.PonyLand.dto.AlbumDTO">-->
<!--        select * from (select Album.*, row_number() over(order by seq desc) as rnum from Album) where rnum between #{start} and #{end}-->
<!--    </select>-->
</mapper>
