<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PonyLand.PonyLand.Mapper.GameMapper">

    <!--코인 배팅 racing 테이블 insert 문-->
    <insert id="insertCoin">
        insert  into racing values (#{racing_id},#{racing_horse_seq},#{racing_coin},#{bettingCoin})
    </insert>

    <!--게임 시작 버튼 클릭시 member_Coin에서 배팅금액 먼저 뺴는 코드-->
    <update id="updateCoin">
        update member set member_coin=member_coin-#{bettingCoin} where member_id=#{racing_id}
    </update>

    <select id="selectBet" resultType="PonyLand.PonyLand.dto.RacingDTO">
        select * from racing where racing_id=#{value}
    </select>

    <delete id="deleteBet">
        delete racing where racing_id=#{value}
    </delete>

    <update id="updateWin">
        update member set member_coin=member_coin+#{racing_coin} where member_id=#{racing_id}
    </update>

    <!--<update id="updateLose">
        update member set member_coin=member_coin-#{racing_coin} where member_id=#{racing_id}
    </update>-->


</mapper>