<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PonyLand.PonyLand.Mapper.GameMapper">

    <update id="updateCoin">
        update member set member_coin=member_coin+#{sum} where member_id = #{id}
    </update>


</mapper>