<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PonyLand.PonyLand.Mapper.GuestbookMapper">

    <insert id="insert">
        insert into guestbook values (guestbook_seq.nextval,0,#{guestbook_contents},sysdate)
    </insert>

    <!--인자값 하나는 value-->
    <delete id="delete">
        delete from guestbook where guestbook_seq = #{value}
    </delete>

    <update id="update">
        update guestbook set guestbook_contents=#{guestbook_contents} where guestbook_seq=#{guestbook_seq}
    </update>

    <select id="selectAll" resultType="PonyLand.PonyLand.dto.GuestbookDTO">
        select * from Guestbook order by 1
    </select>

</mapper>
