<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PonyLand.PonyLand.Mapper.GuestbookMapper">

    <insert id="insert">
        insert into guestbook values (guestbook_seq.nextval,guestbook_writer,#{guestbook_contents},sysdate}
    </insert>

    <delete id="delete">
        delete from guestbook where guestbook_seq = #{value}
    </delete>

</mapper>
