<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PonyLand.PonyLand.Mapper.GuestbookCommentMapper">

    <insert id="insert">
        insert into guestbook_comment values
        (guestbook_comment_seq.nextval,0,#{guestbook_comment_contents},sysdate,#{parent_seq})
    </insert>


    <select id="select" resultType="PonyLand.PonyLand.dto.GuestbookCommentDTO">
        select * from guestbook_comment where parent_seq = #{parent_seq}
    </select>


    <!--
          <delete id="">


          </delete>-->

</mapper>