<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="PonyLand.PonyLand.Mapper.HistoryMapper">

    <select id="selectId" resultType="PonyLand.PonyLand.dto.HistoryDTO">
        select * from (select * from history order by history_seq desc) where rownum <![CDATA[ <= ]]> 3
    </select>

    <insert id="historyInsert">
        insert into history values(history_seq.nextval,#{history_host},#{history_id},#{history_name})
    </insert>

</mapper>