<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css"/>
    <title>Album</title>
    <style>

        .bg3{overflow: auto}
    </style>
</head>
<body>
<div class="container">
    <div class="top">
        <div class="today">Today : 245</div>
        <div class="music">뮤직플레이어 부분</div>
    </div>

    <div class="bg1">

    </div>
    <div class="bg2">

        <div th:if="${id} != null" >
            <div class="profile0" th:text="${id}">님의 마구간</div>
        </div>

        <div class="profile1">
            테스트입니다.
        </div>

        <div class="profile2">
            상태메시지<br>
            상태메시지<br>
            상태메시지<br>
        </div>

        <div class="profile3">
            <button th:href="@{/family/getFamily}" class="profilebtn" type="button">일촌</button>
            <a th:href="@{/family/areTheyFamily}">
                <button class="profilebtn" type="button">일촌확인</button>
            </a>
            <a th:href="@{/member/wave}">
                <button class="profilebtn" type="button" id="wave">파도타기</button>
            </a>
        </div>

        <div class="profile4">
            <div class="profile4-1">
                History
            </div>
            <div class="profile4-2">
                <th>윤성민(개굴개굴)<br>
                <th>임근혁(시카고)<br>
                <th>이진혁(물리)
            </div>
        </div>
    </div>
    <form id="form">
        <div class="bg3">
            <div class="bg3in">
                <c:choose>
                    <c:when td:test="${not empty dto}">
                        <c:forEach th:each="list : ${dto}">
                <div class="gbtitle">
                    <tr>
                    <input type="hidden" th:value="${list.Album_seq}"  name = "Album_seq"/>
                    <input type="hidden" th:value="${list.Album_title}" name = "Album_title"/>
                    <input type="hidden" th:value="${list.Album_contents}" name = "Album_contents"/>
                    <input type="hidden" th:value="${list.Album_title}" name = "Album_title"/>
                        <th th:text="${list.Album_seq}">글번호</th>
                        <th th:text="${list.getAlbum_sysdate()}">시간</th>
                        <th>비밀</th>
                        <th>수정</th>
                        <th><a th:href="@{/Album/delete?(Album_seq=${list.Album_seq})}">글 삭제</a>>삭제</th>
                    </tr>
                </div>
                <div class="alcontent">
                    <div class="alpicture">
                        사진
                    </div>
                </div>

                <div class="alcontent">
<!--                        <input type="hidden" th:value="${list.Album_seq}"  name = "Album_seq"/>-->
<!--                        <input type="hidden" th:value="${list.Album_title}" name = "Album_title"/>-->
<!--                        <input type="hidden" th:value="${list.Album_contents}" name = "Album_contents"/>-->
                        <div class="row4">
                            <div class="post">
<!--                                <div class = "post_seq"  th:text="${list.Album_seq}" ></div>-->
                                <div class="post_title" id = "Album_contents" th:text="${list.Album_contents}" readonly >
                                </div>
<!--                                <a th:href="@{/Album/delete?(Album_seq=${list.Album_seq})}">글 삭제</a>-->
                                <button class="btn" type="button" id="modifyBtn">수정하기</button>
                            </div>
                        </div>

                </div>

                <div class="gbcmtinput">
                    <div class="gbcmt">
                        <input type="text">
                        <button class="gbbutton">확인</button>
                        </c:forEach>
                    </c:when>
                    <c:otherwise>
                        출력할 내용이 없습니다.
                    </c:otherwise>
                </c:choose>
                    </div>

                </div>

                <div class="gbcmtview">
                    <tr>
                        <th>이름</th>
                        <th>내용</th>
                        <th>삭제</th>
                    </tr>
                </div>
            </div>
        </div>
    </form>


    <div class="side">
        <div class="side1">
            <button class="btnmain1">메인</button>
        </div>
        <div class="side2">
            <button class="btnmain2">방명록</button>
        </div>
        <div class="side3">
            <button class="btnmain2">사진첩</button>
        </div>
        <div class="side4">
            <button class="btnmain2">다이어리</button>
        </div>
        <div>
            <button id="write">글쓰기</button>
            <div>
            </div>
        </div>
        <script>
            $("#write").on("click", function () {
                location.href = "/Album/write";
            })

            $("#modifyBtn").on("click", function () {
                $("#Album_title").removeAttr("readonly");
                $("#Album_contents").removeAttr("readonly");
                $("textarea").removeAttr("readonly")
                $("#modifyBtn").css("display", "none");

            })

        </script>

</body>
</html>