<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
          integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/style.css"/>
</head>
<style>

</style>
<body>
<div ></div>


<div class="container">
  <div class="top">
    <div class="" th:text="|Today : ${list.getMemberHomepageViewCount()}|" ></div>
    <div class="topright">
      <input style="color: white" type="text" class="searchbox2" placeholder="아이디를 입력하세요" name="id" id="id">
      <button type="button" class="searchbtn" onclick="selectById()">검색</button>
      <!--                        <audio id="music" controls class="hidden-xs" style=" position:fixed; right:0; bottom:0; z-index:99999999999">-->
      <!--                            <source src="https://drive.google.com/uc?export=download&id=1ypuNRShKf7DcyMOTSx2Oyp-fJ0FHgUmR" type="audio/mpeg">-->
      <!--                            Your browser does not support the audio element.-->
      <!--                        </audio>-->
      <!--                        <audio src="https://ccrma.stanford.edu/~jos/mp3/harpsi-cs.mp3" controls autoplay></audio>-->
    </div>
  </div>

  <div class="bg1">
    <div class="bg2">
      <div >
        <div class="profile0" th:text="${id}">님의 마구간</div>
      </div>

      <div class="profile1">
        <img style="width: 100%; height: 100%;" th:src="|/img/@{${list.getMember_sysname()}}|">
      </div>

      <div class="profile2">
        <div><textarea class="textareabg"  th:text="${list.getMember_message()}"  name="member_message" readonly ></textarea></div>
        <input type="hidden" th:value="${list.getMemberId()}" name="memberId">
      </div>

      <div class="profile3">
        <div>
          <button th:href="@{/family/getFamily}" class="profilebtn" type="button">일촌</button>
        </div>
        <div>
          <a th:href="@{/family/areTheyFamily}">
            <button class="profilebtn" type="button">일촌확인</button>
          </a>
        </div>
        <div>
          <a th:href="@{/member/wave}">
            <button class="profilebtn" type="button" id="wave">파도타기</button>
          </a>
        </div>
      </div>

      <div class="profile4">
        <div class="profile4-1">
          History
        </div>
        <div class="profile4-2">
          <div>윤성민(개굴개굴)</div>
          <div>임근혁(개굴개굴)</div>
          <div>이진혁(개굴개굴)</div>
        </div>
      </div>
    </div>
    <form action = "/Album/insert" method = "post"  accept-charset="utf-8" enctype="multipart/form-data" >
      <div class="albg3">
        <div class="bg3in">
          <div style="margin-top: 30px"></div>

          <div class="gbtitle">
            <input type="text" placeholder="글 제목을 입력하세요" id="Album_title" name="Album_title">
          </div>

          <div class="alpic">
            <!--앨범 작성 부분-->
            <div class=container>
              <input type="hidden" name="Album_writer">
              <input type="hidden" th:value="${id}" name="Album_host">
              <div class="alpic">
                <div id="image-preview"></div>
              </div>
              <div id="text">
                <div id="image-preview"></div>
                <textarea id="altextarea" placeholder="글 내용을 입력하세요." name="Album_contents"  ></textarea>
              </div>
              <div id="div1">
                <tr>
                  <input type="file" name="file" class="file" multiple accept=".jpg, .png, .gif" onchange="previewImage(event)">
                  <div>
                    <button type="button" class="alwrbtn" id="back">목록으로</button>
                    <button type="submit" class="alwrbtn" id="btn" >작성완료</button>
                  </div>
                </tr>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>



<div class="side">
  <a th:href="@{/toMiniPage(id = ${id})}">
    <button class="btnmain2">메인</button>
  </a>
  <a th:href="@{/Guestbook/goGuestbook?(guestbook_host=${id})}">
    <button class="btnmain2">방명록</button>
  </a>
  <button class="btnmain1">사진첩</button>
  <a th:href="@{/member/goMypage?(memberId=${id})}">
    <button class="btnmain2">내정보</button>
  </a>
</div>






<!--&lt;!&ndash;앨범 작성 부분&ndash;&gt;-->
<!--<form action = "/Album/insert" method = "post"  accept-charset="utf-8" enctype="multipart/form-data" >-->
<!--  <div class=container>-->
<!--    <div>자유게시판 글 작성하기</div>-->
<!--    <div>-->
<!--      <input type="text" placeholder="글 제목을 입력하세요" id="Album_title" name="Album_title">-->
<!--      <input type="hidden" name="Album_writer">-->
<!--      <input type="hidden" th:value="${id}" name="Album_host">-->
<!--    </div>-->
<!--    <input type="file" name="file" multiple accept=".jpg, .png, .gif">-->
<!--    <div id="text">-->
<!--				<textarea placeholder="글 내용을 입력하세요." name="Album_contents"-->
<!--                          style="width: 100%; height: 90%; resize: none;"></textarea>-->
<!--    </div>-->
<!--    <div id="div1">-->
<!--      <button type="button" class="btn" id="back">목록으로</button>-->
<!--      <button type="submit" class="btn" id="btn">작성완료</button>-->
<!--    </div>-->
<!--  </div>-->
<!--</form>-->


<script>
  $("#back").on("click", function() {
    history.back(); // 뒤로가기 버튼
  })

  // 이미지 썸네일
  function previewImage(event) {
    let file = event.target.files[0];

    let reader = new FileReader();

    reader.readAsDataURL(file);

    reader.onload = function(event) {
      let dataURL = event.target.result;

      document.getElementById('image-preview').innerHTML = '<img src="' + dataURL + '"style="max-width: 523px; max-height: 300px;">';
    };
  }
  //submit 클릭버튼 한번으로 막기.
  let buttonClicked = false;

  $("#btn").click(function(event) {
    if (buttonClicked) {
      event.preventDefault();
      return;
    }
    buttonClicked = true;
  });


  $("#btn").on("click", function() {
    let Album_title = $("#Album_title").val();
    let Album_contents = $("#altextarea").val();
    let file = $(".file").val();
    if (Album_title == null || Album_title == "") {  //null이거나 빈칸이면
      alert("제목을 입력해주세요.");
      location.reload();
      return false;

    } else if (Album_contents == null || Album_contents == "") {
      alert("내용을 입력해주세요.");
      location.reload();
      return false;

    }else if(file==null || file==""){
      alert("사진을 첨부해주세요");
      location.reload();
      return false;
    }else {
      return;
    }
  });

  //메인화면에서 검색기능
  function selectById(){
    let idElement = document.getElementById("id");
    if (idElement.value === "") {
      alert("아이디를 입력하세요");
    } else {
      $.ajax({
        url :"/toMiniPage",
        data : {
          "id" : idElement.value
        }
      }).done(function(resp){
        if(resp!==null) {
          let popup = window.open(`/toMiniPage?id=${idElement.value}`,"일촌목록","width=900px,height=1000px,scrollbars=yes");
        }else {
          alert("아이디를 확인해주세요")
        }

      }).fail(function(error){
        alert("아이디를 확인해주세요");
      });
    }
  }

</script>

</body>
</html>