<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css"/>
    <title>Album</title>
    <script>



    </script>
</head>
<style>
    textarea{
        resize:none;
        border: solid transparent;
    }
</style>
<body>
<div ></div>


<div class="container">
    <div class="top">
        <div class="" th:text="|Today : ${list.memberHomepageViewCount}|"></div>
        <div class="">뮤직플레이어 부분</div>
    </div>

    <div class="bg1">
        <div class="bg2">
            <div th:if="${id} != null">
                <div class="profile0" th:text="${id}">님의 마구간</div>
            </div>

            <div class="profile1">
                <img style="width: 100%; height: 100%;" th:src="|/img/@{${list.getMember_sysname()}}|">
            </div>

            <div class="profile2">
                <div><textarea class="textareabg"  th:text="${list.getMember_message()}"  name="member_message" readonly ></textarea></div>
                <input type="hidden" th:value="${list.getMemberId()}" name="memberId">
            </div>

            <div class="profile3">
                <div>
                    <button th:href="@{/family/getFamily}" class="profilebtn" type="button">일촌</button>
                </div>
                <div>
                    <a th:href="@{/family/areTheyFamily}">
                        <button class="profilebtn" type="button">일촌확인</button>
                    </a>
                </div>
                <div>
                    <a th:href="@{/member/wave}">
                        <button class="profilebtn" type="button" id="wave">파도타기</button>
                    </a>
                </div>
            </div>

            <div class="profile4">
                <div class="profile4-1">
                    History
                </div>
                <div class="profile4-2">
                    <div>윤성민(개굴개굴)</div>
                    <div>임근혁(개굴개굴)</div>
                    <div>이진혁(개굴개굴)</div>
                </div>
            </div>
        </div>
        <form id="form">
            <div class="albg3">
                <div class="bg3in">
                    <div style="margin-top: 15px">
                        <button class="profilebtn2" type="button" style="float:right;">
                            사진첩 작성하기
                        </button>
                    </div>
                    <div th:each="list:${dto}" style="margin-bottom: 50px" th:if="${id==list.getAlbum_host()}">
                        <!--                                                                                 원래 {list.getAlbum_writer()}               -->
                        <div th:each="list:${dto}" style="margin-bottom: 50px" th:if="${list.getAlbum_writer()==list.getAlbum_host()}">
                            <div style="margin-left:10px; font-size: 10px; color: lightgrey; margin-bottom: 5px"><th th:text="${#dates.format(list.getAlbum_write_date(), 'yyyy-MM-dd HH:mm')}">시간</th></div>
                            <div class="gbtitle">
                                <tr>
                                    <input type="hidden" th:value="${list.getAlbum_host()}" id="host"  />
                                    <!--     원래 {id}                           -->
                                    <input type="hidden" th:value="${list.Album_title}" name="Album_title"/>
                                    <input type="hidden" th:value="${list.Album_contents}" name="Album_contents"/>
                                    <div style="margin-left: 10px"><th th:text="NO.+${list.Album_seq}">글번호</th></div>
                                    <div><th th:text="${list.Album_title}"></th></div>
                                    <!--                                <div><th th:text="${#dates.format(list.getAlbum_write_date(), 'yyyy-MM-dd HH:mm')}">시간</th></div>-->
                                    <div style="margin-right: 10px">
                                        <!--                                    <a class="anchor" th:href="@{/Album/UpdateAlbum?(Album_seq=${list.Album_seq},Album_title=${list.getAlbum_title()},Album_contents=${list.getAlbum_contents()})}">수정</a>-->
                                        <!--                                    <span>|</span>-->
                                        <a class="anchor" th:href="@{/Album/delete?(Album_seq=${list.Album_seq},Album_host=${list.getAlbum_host()})}">삭제</a>
                                        <!--                                        <span>|</span>-->
                                        <!--                                        <button id="write" class="alwritebtn" type="button" style="padding: 0px">작성</button>-->
                                    </div>
                                </tr>
                            </div>
                            <div class="alcontext">
                                <!--                        <input type="hidden" th:value="${list.Album_seq}"  name = "Album_seq"/>-->
                                <!--                        <input type="hidden" th:value="${list.Album_title}" name = "Album_title"/>-->
                                <!--                        <input type="hidden" th:value="${list.Album_contents}" name = "Album_contents"/>-->
                                <div class="row4">
                                    <div class="post">
                                        <!--                                <div class = "post_seq"  th:text="${list.Album_seq}" ></div>-->
                                        <div class="post_title" id="Album_contents" th:text="${list.Album_contents}"
                                             readonly>
                                        </div>
                                        <!--                                <a th:href="@{/Album/delete?(Album_seq=${list.Album_seq})}">글 삭제</a>-->
                                    </div>
                                </div>
                            </div>
                            <div class="alpic">
                                <!--                            <th th:src="@{${file.oriname()}}">-->
                                <img class = image th:src="|/img/@{${list.getAlbum_sysname()}}|">
                                <!--사진 불러오기.-->
                                </th>
                            </div>

                            <div class="gbcmt2" th:each="list1: ${list1}" th:if="${list.getAlbum_seq() == list1.getAlbum_Comment_parent_seq()}">
                                <div class="gbcmttitle">
                                    <div style="font-size: 13px">
                                        <input type="hidden" th:value="${list.getAlbum_host()}" name="Album_host">
                                        <input type="hidden" th:value="${list1.getAlbum_Comment_writer()}" >
                                        <th th:text="${list1.getAlbum_Comment_writer()}" >작성자</th>
                                    </div>
                                    <!--                                    <a th:href="@{/Comment/delete?(Album_Comment_seq=${list1.getAlbum_Comment_seq()},Album_host=${list.getAlbum_host()})}" th:if="${list.getAlbum_host()==list1.getAlbum_Comment_writer()}">x</a>-->
                                    <!--컨트롤러에 경로 2개 보냄. ,사용-->  <!--댓글작성자랑 Album_host랑 같으면 x가보이게함.-->
                                    <!--컨트롤러에 경로 2개 보냄. ,사용-->  <!--댓글작성자랑 Album_host랑 같으면 x가보이게함.-->
                                    <div style="font-size: 10px; color: darkgrey">
                                        <th th:text="${#dates.format(list1.getAlbum_Comment_write_date(), 'MM-dd HH:mm')}">작성시간</th>
                                        <a th:href="@{/Comment/delete?(Album_Comment_seq=${list1.getAlbum_Comment_seq()},Album_host=${list.getAlbum_host()})}" th:if="${list.getAlbum_host()==list1.getAlbum_Comment_writer()}">x</a>
                                    </div>
                                </div>
                                <div style="font-size: 18px;" >
                                    <th th:text="${list1.getAlbum_Comment_contents()}">작성내용</th>

                                </div>
                            </div>

                            <div class="gbcmtinput" >
                                <div class="gbcmt">
                                    <!--                       <tr th:each="list1:${dto1}">-->
                                    <input class="gbcmt" type="text" id="Album_Comment_contents" maxlength="80">
                                                                                                    <!--글자수제한-->
                                </div>

                                <button class="gbbutton" type="button" >확인</button>
                                <input type="hidden" th:value="${list.Album_seq}" name="Album_Comment_parent_seq"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
</tr>


<div class="side">
    <a th:href="@{/toMiniPage(id = ${id})}">
        <button class="btnmain2">메인</button>
    </a>
    <a th:href="@{/Guestbook/goGuestbook?(guestbook_host=${id})}">
        <button class="btnmain2">방명록</button>
    </a>
    <button class="btnmain1">사진첩</button>
    <a th:href="@{/member/goMypage?(memberId=${id})}">
        <button class="btnmain2">내정보</button>
    </a>
</div>
</body>
<script>

    //앨범 글쓰기로 가는 세션. (아이디 포함)
    $(".profilebtn2").on("click", function() {
        let Album_host = $("#host").val();
        location.href = "/Album/write?Album_host="+Album_host;
    })

    $(function(){
        $(".gbbutton").on("click", function () {

            location.reload();

            $(this).prev().find('input').attr("name", "Album_Comment_contents");
            let Album_seq = $(this).next().val();
            let Album_Comment_contents = $(this).prev().find('input').val();


            $("#Album_Comment_contents").val("");

            $.ajax({
                url: "/Comment/writer",
                type: "post",
                data: {
                    "Album_seq": Album_seq,
                    "Album_Comment_contents": Album_Comment_contents
                }
            }).done(function (data) {
                let target = JSON.parse(data);

                for (let i = 0; i < target.length; i++) {

//
                    let div = $("<div>")

                    let th1 = $("<th>");
                    th1.attr("th:text","${list1.getAlbum_Comment_writer()}");

                    let th2 = $("<th>");
                    th2.attr("th:text","${list1.getAlbum_Comment_contents()}");

                    let th3 = $("<th>");
                    th3.attr("th:text","${list1.getAlbum_Comment_write_date()}");

                    div.append(th1);
                    div.append(th2);
                    div.append(th3);
                    $(".comment").append(div);


                }




            }).fail(function (data) {


            })
        });

    })

    $(".gbcmt").on("keydown", function(event) {
        if (event.keyCode === 13) {
            event.preventDefault();
            $(this).next().focus();
        }
    });  //엔터누르면 전송




</script>
</html>