<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <link rel="stylesheet" href="../static/family.css"/>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
</head>
<body>

<div class="bg3">
    <div class="bg3in">
        <span style="font-size: 50px; color: #F4A127">일촌목록</span>
        <form action="" method="post" id="frm">
            <div th:if="${list1}!=null">
                <div th:each="list1:${list1}">
                    <div class="familybg11">
                        <div class="familybg2">
                            <img th:src="|/img/${imagelist1.get(list1Stat.index)}|" th:if="${imagelist1.get(list1Stat.index)!=null}" style="width: 100px; height: 100px;">
                            <img style="width: 100px; " height="100px;" th:if="${imagelist1.get(listStat.index)==null}" src="/static/img/no_profile.jpg" >
                            <th th:text="|${list1.familyMe} (${list1.familyProposedName})|"></th>
                            <!--                        <th th:text="|${list1.familyProposedName} |"></th>-->
                            <!--                                <button type="button" class="deleteBtn">삭제</button>-->
                            <input type="hidden" class="hiddenSeq" th:value="${list1.familySeq}">
                        </div>
                        <button type="button" class="deleteBtn">삭제</button>
                    </div>
                </div>
            </div>
            <div th:if="${list2}!=null">
                <div th:each="list2:${list2}">
                    <div class="familybg11">
                        <div class="familybg2">
                            <img th:src="|/img/${imagelist2.get(list2Stat.index)}|" th:if="${imagelist2.get(list2Stat.index)!=null}" style="width: 100px; height: 100px;">
                            <img style="width: 100px; " height="100px;" th:if="${imagelist2.get(list2Stat.index)==null}" src="/static/img/no_profile.jpg" >
                            <th th:text="|${list2.familyOther} (${list2.familyProposerName})|"></th>
                            <!--                        <th th:text="|${list2.familyProposerName} |"></th>-->

                            <input type="hidden" class="hiddenSeq" th:value="${list2.familySeq}">
                        </div>
                        <button type="button" class="deleteBtn">삭제</button>
                    </div>
                </div>
            </div>
        </form>

        <div th:if="${list1.size()}==0 and ${list2.size()}==0">
            아직 일촌 목록에 사람들을 추가하지 않으셨습니다. 지금 바로 추가해보세요!
        </div>
    </div>
</div>

<script>

    $(".deleteBtn").click(function(){
        let reallyDel = confirm("정말로 삭제하시겠습니까?");
        if(reallyDel){

            let targetSeq = $(this).next().val();
            location.href="/family/deleteFamily?targetSeq="+targetSeq+"";
            // $("#frm").attr("action","/family/deleteFamily?targetSeq="+targetSeq+"");
            // $("#frm").submit();

        }else{
            return;
        }


    })

</script>
</body>
</html>