<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <!--        <link rel="stylesheet" href="../static/style.css"/>-->
    <link rel="stylesheet" href="../static/stable.css"/>
    <link rel="stylesheet" href="../static/game.css"/>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
            charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<body>
<div class="container">

    <input type="hidden" name="dto" th:value="${dto}">
    <input type="hidden" name="id" th:value="${id}">

    <div class="top">
        <!--        <div th:if="${id}!=null">-->
        <!--            <div class="" th:text="|Today : ${dto.memberHomepageViewCount}|" style="font-size: 20px">today</div>-->
        <!--        </div>-->
        <div class="topright">
            <input style="color: white" type="text" class="searchbox2" placeholder="아이디를 입력하세요" name="id" id="id">
            <button type="button" class="searchbtn" onclick="selectById()">검색</button>
        </div>
    </div>
    <div class="bg1">
        <div class="gamebg2">
            <div class="minigame">Mini Game</div>
            <div>
                <div><button class="gamestart" id="gameSetting">게임시작</button></div>
                <div><button class="gamestart" id="gameExplain">게임설명</button></div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="side">

    <a th:href="@{/stable/toStable(id=${id})}">
        <button class="btnmain2">마구간</button>
    </a>

    <button class="btnmain1" type="button" id="adc">게임</button>

    <a th:href="@{/shop/toShop(id=${id})}">
        <button class="btnmain2">상점</button>
    </a>
    <a th:href="@{/stable/charge}">
        <button class="btnmain2">충전</button>
    </a>
</div>

</body>

<script>
    $("#gameSetting").on("click",function (){
        location.href="/game/goGameSetting";
    })

    $("#gameExplain").on("click",function (){
        location.href="/game/goGameExplain";
    })

    //메인화면에서 검색기능
    function selectById(){
        let idElement = document.getElementById("id");
        if (idElement.value === "") {
            alert("아이디를 입력하세요");
        } else {
            $.ajax({
                url :"/toMiniPage",
                data : {
                    "id" : idElement.value
                }
            }).done(function(resp){
                if(resp!==null) {
                    let popup = window.open(`/toMiniPage?id=${idElement.value}`,"일촌목록","width=900px,height=1000px,scrollbars=yes");
                }else {
                    alert("아이디를 확인해주세요")
                }

            }).fail(function(error){
                alert("아이디를 확인해주세요");
            });
        }
    }


</script>


</html>