<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Game</title>
  <!--        <link rel="stylesheet" href="../static/style.css"/>-->
  <link rel="stylesheet" href="../static/stable.css"/>
  <link rel="stylesheet" href="../static/game.css"/>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
          charset="utf-8"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<body>


<div class="container">
  <div class="top">
    <!--        <div th:if="${id}!=null">-->
    <!--            <div class="" th:text="|Today : ${dto.memberHomepageViewCount}|" style="font-size: 20px">today</div>-->
    <!--        </div>-->
    <div class="topright">
      <input style="color: white" type="text" class="searchbox2" placeholder="아이디를 입력하세요" name="id" id="id">
      <button type="button" class="searchbtn" onclick="selectById()">검색</button>
    </div>
  </div>
  <div class="bg1">
    <div class="gameexplainbg2">
      <div style="font-size: 100px">게임설명</div>
      <div style="font-size: 30px">
        1. 자신이 보유한 당근 보다 적은 금액을 배팅 입력칸에 입력한다.<br>
        2. 참여 말의 수를 정한다.<br>(2마리는 1.5배 , 3마리는 2배) <br>
        3. 자신이 배팅할 말의 번호를 선택한다. <br>
        4. 모든 선택을 완료 한 후 게임 시작 버튼을 누른다 !
      </div>
      <div><button class="gamestart" id="gameSetting">게임시작</button></div>
    </div>
  </div>
</div>
</div>
<div class="side">
  <button class="btnmain2">마구간</button>
  <a th:href="@{/game/gameStart(id=${id})}">
    <button class="btnmain1">게임</button>
  </a>
  <a th:href="@{/shop/toShop(id=${id})}">
    <button class="btnmain2">상점</button>
  </a>
  <a th:href="@{/stable/charge(id=${id})}">
  <button class="btnmain2">충전</button>
  </a>
</div>

<script>
  $("#gameSetting").on("click",function (){
    location.href="/game/goGameSetting";
  })

  //메인화면에서 검색기능
  function selectById(){
    let idElement = document.getElementById("id");
    if (idElement.value === "") {
      alert("아이디를 입력하세요");
    } else {
      $.ajax({
        url :"/toMiniPage",
        data : {
          "id" : idElement.value
        }
      }).done(function(resp){
        if(resp!==null) {
          let popup = window.open(`/toMiniPage?id=${idElement.value}`,"일촌목록","width=900px,height=1000px,scrollbars=yes");
        }else {
          alert("아이디를 확인해주세요")
        }

      }).fail(function(error){
        alert("아이디를 확인해주세요");
      });
    }
  }
</script>
</body>

</html>