<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Game</title>
  <!--        <link rel="stylesheet" href="../static/style.css"/>-->
  <link rel="stylesheet" href="../static/stable.css"/>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
          charset="utf-8"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<body>


<div class="container">

  <div class="top">
    <div class="">Today : 245</div>
    <div class="">뮤직플레이어 부분</div>
  </div>
  <div class="bg1">
    <div class="bg2">
      <div style="font-size: 100px">게임설명</div>
      <div>
        1. 자신이 보유한 당근 보다 적은 금액을 배팅 입력칸에 입력한다. <br>
        2. 참여 말의 수를 정한다. (2마리는 배팅금액의 1.25배 , 3마리는 배팅금액의 1.5배 , 4마리는 배팅금액의 2배) <br>
        3. 자신이 배팅할 말의 번호를 선택한다. <br>
        4. 모든 선택을 완료 한 후 게임 시작 버튼을 누른다 !
      </div>
    </div>
  </div>
</div>
</div>
<div class="side">
  <button class="btnmain2">마구간</button>
  <a th:href="@{/}">
    <button class="btnmain1">게임</button>
  </a>
  <a th:href="@{/}">
    <button class="btnmain2">상점</button>
  </a>
  <button class="btnmain2">충전</button>
</div>

</body>

</html>