<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <!--        <link rel="stylesheet" href="../static/style.css"/>-->
    <link rel="stylesheet" href="../static/stable.css"/>
    <link rel="stylesheet" href="../static/game.css"/>

    <!--    구글 아이콘 불러오는거-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
            charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<body>


<div class="container">

    <div class="top">
        <div class="">Today : 245</div>
        <div class="">뮤직플레이어 부분</div>
    </div>
    <form action="/game/gameRun">
        <div class="bg1">
            <div class="gamebg2">
                <div class="minigame">게임세팅</div>
                <div class="gameset">
                    <div>
                        <span>보유금액 : </span>
                        <span th:text="${dto.getMember_coin()}"></span>
                        <input type="number" placeholder="배팅할 금액을 입력하시오" name="bettingCoin" id="bettingCoin" onkeyup="Coin()">
                    </div>

                    <div>
                        <span>참여 말 :</span>

                        <button class="plusbtn" onclick="count('minus'),Coin()" type="button">
                            <span style="display: flex; justify-content: center; align-items: center"  class="material-symbols-outlined">remove</span>
                        </button>
                        <span id="horseCount">2</span>
                        <input type="hidden" value="2" name="horseCount" id="hiddenCount">

                        <button class="plusbtn" type="button" onclick="count('plus'),Coin()">
                            <span style="display: flex; justify-content: center; align-items: center"  class="material-symbols-outlined">add</span>
                        </button>
                    </div>

                    <div>
                        <span>배팅 성공시 예상금액 : </span>
                        <span id="resultCoin"></span>
                    </div>
                    <div>
                        <span style="color: #F4A127" th:text="${dto.getMember_name()}"></span>
                        <span>님이 배팅하실 말 :</span>

                        <span>
                        <select name="betHorse" id="choose">
                             <option value="1">1번말</option>
                             <option value="2">2번말</option>
                             <option value="3" id="three" style="display: none">3번말</option>
                             <option value="4" id="four" style="display: none">4번말</option>
                        </select>
                         </span>
                    </div>

                    <div>
                        <span><button class="gamestart" id="gameRun" type="submit">게임시작</button></span>
                    </div>
                    <input type="hidden" th:value="${dto.getMemberId()}" name="id">
                    <script>
                        function count(type) {
                            let hiddenCount = document.getElementById('hiddenCount');

                            let resultElement = document.getElementById('horseCount');

                            let number = resultElement.innerText;

                            if (type === 'plus') {
                                if (number == 2) {
                                    number = parseInt(number) + 1;
                                    hiddenCount.setAttribute("value", number);
                                    $("#three").css("display","block")
                                }else if(number ==3){
                                    number = parseInt(number) + 1;
                                    hiddenCount.setAttribute("value", number);
                                    $("#four").css("display","block")
                                }
                            } else if (type === 'minus') {
                                if (number == 3) {
                                    number = parseInt(number) - 1;
                                    hiddenCount.setAttribute("value", number);
                                    $("#three").css("display","none")
                                }else if(number ==4){
                                    number = parseInt(number) - 1;
                                    hiddenCount.setAttribute("value", number);
                                    $("#four").css("display","none")
                                }
                            }
                            resultElement.innerText = number;
                        }
                    </script>
                </div>
            </div>
        </div>
    </form>
</div>

</div>
<div class="side">
    <button class="btnmain2">마구간</button>
    <a th:href="@{/}">
        <button class="btnmain1">게임</button>
    </a>
    <a th:href="@{/}">
        <button class="btnmain2">상점</button>
    </a>
    <button class="btnmain2">충전</button>
</div>

</body>

<script>
    function Coin() {
        let bettingCoin = $("#bettingCoin").val();
        let horseCount = $("#horseCount").html();

        console.log(bettingCoin + ":" + horseCount);

        $.ajax({
            url: "/game/estimatedAmount",
            type: "post",
            dataType: "json",
            data: {"bettingCoin": bettingCoin, "horseCount": horseCount}
        }).done(function (data) {
            $("#resultCoin").text(data)
        })
    }


</script>

</html>