<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Game</title>
  <!--        <link rel="stylesheet" href="../static/style.css"/>-->
  <link rel="stylesheet" href="../static/stable.css"/>
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

  <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
          charset="utf-8"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<body>


<div class="container">

  <div class="top">
    <div class="">Today : 245</div>
    <div class="">뮤직플레이어 부분</div>
  </div>
  <div class="bg1">
    <div class="bg2">
      <div style="font-size: 100px; text-align: center">게임세팅</div>
      <div style="text-align: center">

        <button onclick="count('plus')">+</button><span id="horseCount">2</span><button onclick="count('minus')">-</button>
        <br>
        <span th:text = "${dto.getMember_name()}"></span>의 말 선택 : 선택부분
        <br>
        <span th:text = "${dto.getMember_coin()}"></span>
        <br>
        <span><button id="gameRun">게임시작</button></span>
        <script>
          function count(type)  {

            let resultElement = document.getElementById('horseCount');

            let number = resultElement.innerText;

            if(type === 'plus') {
              if(number <= 3) {
                number = parseInt(number) + 1;
              }
            }else if(type === 'minus')  {
              if(number >= 3) {
                number = parseInt(number) - 1;
              }
            }
            resultElement.innerText = number;
          }
        </script>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<div class="side">
  <button class="btnmain2">마구간</button>
  <a th:href="@{/}">
    <button class="btnmain1">게임</button>
  </a>
  <a th:href="@{/}">
    <button class="btnmain2">상점</button>
  </a>
  <button class="btnmain2">충전</button>
</div>

</body>

<script>
  $("gameRun").on("click",function (){

  })
</script>

</html>