<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<body>
<button id="a">달려보자</button>
<script>
    $("#a").on("click",function(){
        location.reload();
    })
</script>
</body>
</html>
<script type="text/javascript" src="/static/game/lib/phaser.min.js"></script>
<script type="text/javascript" src="/static/game/GameScene.js"></script>
<script type="text/javascript" src="/static/game/app.js"></script>
