<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game</title>
    <!--        <link rel="stylesheet" href="../static/style.css"/>-->
    <link rel="stylesheet" href="../static/stable.css"/>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
            charset="utf-8"></script>
    <script type="text/javascript">
        document.oncontextmenu=function (){return false;}
    </script>
</head>

<body oncontextmenu="return false" onselectstart="return false" ondragstart="return false" onkeydown="return false">
<div id="hi" style="display:none">
<iframe id="player-iframe" src="/static/music/gamesong.html" frameborder="0" allow="autoplay"></iframe>
</div>

<div class="container">

    <div class="top">
        <!--        <div th:if="${id}!=null">-->
        <!--            <div class="" th:text="|Today : ${dto.memberHomepageViewCount}|" style="font-size: 20px">today</div>-->
        <!--        </div>-->
        <div class="topright">
            <input style="color: white" type="text" class="searchbox2" placeholder="아이디를 입력하세요" name="id" id="id">
            <button type="button" class="searchbtn" onclick="selectById()">검색</button>
        </div>
    </div>
    <div class="bg1">
        <div class="gameresultbg2">
            <div style="font-size: 100px">게임결과</div>
            <div>
                <button type="button" class="gameresultbtn1" id="showResult">과연 누가 우승했을까요?!</button>
            </div>
            <div class="resultDiv" id="resultDiv" style="display: none">
                <div style="font-size: 40px">
                    <span th:text="${winner}" id="winner" th:name="winner"></span><span>번 말이 우승하였습니다 !</span> <br>
                    <span th:text="${dto.getMember_name()}"></span><span>님은</span>
                    <span th:text="${betNumber}" id="betNumber" th:name="betNumber"></span><span>번 말을 선택하여</span><br>
                    <span class="betting"></span>
                </div>

                <div style="font-size: 40px; margin-top: 20px">
                    <span th:text="${dto.getMember_name()}"></span><span>님의 보유 당근은 </span><span
                        th:text="${dto.getMember_coin()}"></span><span>개 입니다.</span>
                </div>

                <div>
                    <button class="gameresultbtn1" id="oneMore" type="button" style="margin-top: 20px">다시하기</button>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="side">
    <button class="btnmain2">마구간</button>
    <a th:href="@{/game/gameStart(id=${id})}">
        <button class="btnmain1">게임</button>
    </a>
    <a th:href="@{/shop/toShop(id=${id})}">
        <button class="btnmain2">상점</button>
    </a>
    <a th:href="@{/stable/charge(id=${id})}">
    <button class="btnmain2">충전</button>
    </a>
</div>

</body>
<script>
    $("#oneMore").on("click", function () {
        location.href = "/game/goGameSetting;"
    })


    $("#showResult").on("click", function () {
        $("#resultDiv").css("display", "block")
        $("#showResult").css("display", "none")
    })


    function doNotReload(){
        if( (event.ctrlKey == true && (event.keyCode == 78 || event.keyCode == 82)) || (event.keyCode == 116)) {
            event.keyCode = 0;
            event.cancelBubble = true;
            event.returnValue = false;
        }
    }
    document.onkeydown = doNotReload;

    //히스토리를 이용해서 뒤로가기 막는 방법
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1);
    };

    //메인화면에서 검색기능
    function selectById(){
        let idElement = document.getElementById("id");
        if (idElement.value === "") {
            alert("아이디를 입력하세요");
        } else {
            $.ajax({
                url :"/toMiniPage",
                data : {
                    "id" : idElement.value
                }
            }).done(function(resp){
                if(resp!==null) {
                    let popup = window.open(`/toMiniPage?id=${idElement.value}`,"일촌목록","width=900px,height=1000px,scrollbars=yes");
                }else {
                    alert("아이디를 확인해주세요")
                }

            }).fail(function(error){
                alert("아이디를 확인해주세요");
            });
        }
    }



</script>

</html>