<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css"/>
    <title>Guestbook</title>

    <style>
        .bg3 {
            overflow: auto
        }
    </style>


</head>


<body>
<div class="container">
    <div class="top">
        <div class="today">Today : 245</div>
        <div class="music">뮤직플레이어 부분</div>
    </div>

    <div class="bg1">

    </div>
    <div class="bg2">

        <div class="profile">
            테스트입니다.
        </div>

        <div class="profilemsg">
            상태메시지<br>
            상태메시지<br>
            상태메시지<br>
        </div>

        <div class="">
            <button class="profilebtn">일촌</button>
            <button class="profilebtn">파도타기</button>
        </div>

    </div>
    <div class="bg3">
        <div class="bg3in">

            <div th:each="list : ${dto}">
                <div class="gbtitle">
                    <tr>
                        <th th:text="${list.getGuestbook_seq()}"></th>
                        <th th:text="${list.getGuestbook_write_date()}"></th>
                        <th>비밀</th>
                        <th>
                            <button type="button" id="update" name="update">수정</button>
                        </th>
                        <th>
                            <button type="button" id="delete" name="delete" th:seq="${list.getGuestbook_seq()}">삭제
                            </button>
                        </th>
                    </tr>
                </div>
                <div class="gbcontent">
                    <div class="gbprofile">
                        프로필이미지
                    </div>
                    <div class="gbtext">
                        <th th:text="${list.getGuestbook_contents()}" th:readonly></th>
                    </div>
                </div>
                <form action="/GuestbookComment/insert">
                    <div class="gbcmtinput">
                        <div class="gbcmt">
                            <input type="text" placeholder="댓글을 입력하세요" id="guestbook_comment_contents" name="guestbook_comment_contents">
                        </div>
                        <button class="gbbutton">확인</button>
                    </div>
                </form>
            </div>
            <div class="gbcmtview">
                <tr>
                    <th>이름</th>
                    <th>내용</th>
                    <th>삭제</th>
                </tr>
            </div>
        </div>
        <a th:href="@{/Guestbook/gowrite}">
            <button class="gowrite">글쓰기</button>
        </a>
    </div>
    <div class="side">
        <div class="side1">
            <button class="btnmain1">메인</button>
        </div>
        <div class="side2">
            <button class="btnmain2">방명록</button>
        </div>
        <div class="side3">
            <button class="btnmain2">사진첩</button>
        </div>
        <div class="side4">
            <button class="btnmain2">다이어리</button>
        </div>
    </div>
</div>
</body>

<script>

    $("#delete").on("click", function () {
        let seq = $(this).attr("seq");
        location.href = "/Guestbook/delete?Guestbook_seq=" + seq;
    })

</script>

</html>