<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css"/>
    <title>Guestbook</title>

    <script>

        $(function () {
            // 방명록 댓글 : List와 insert 기능
            $(".gbbutton").on("click", function () {

                $(this).prev().find('input').attr("name", "guestbook_comment_contents");

                let seq = $(this).next().val();
                let content = $(this).prev().find('input').val();

                $.ajax({
                    url: "/GuestbookComment/commentFrm",
                    type: "post",
                    data: {"seq": seq, "content": content}
                }).done(function (data) {
                    let target = JSON.parse(data);
                    console.log(target[0].parent_seq);

                    for (let i = 0; i < target.length; i++) {
                        let div = $("<div>");

                        let contents = $("<span>");
                        contents.append(target[i].guestbook_comment_contents);

                        div.append(contents);
                        $("#hano").append(div);

                    }
                }).fail(function (data) {
                    console.log("ㅋㅋ 뭘봐")
                })
            })
        })

        window.onload = function (){

        }


    </script>

</head>


<body>
<div class="container">
    <div class="top">
        <div class="">Today : 245</div>
        <div class="">뮤직플레이어 부분</div>
    </div>

    <div class="bg1">
        <div class="bg2">
            <div th:if="${id} != null">
                <div class="profile0" th:text="${id}">님의 마구간</div>
            </div>

            <div class="profile1">
                테스트입니다.
            </div>

            <div class="profile2">
                <div>상태메시지</div>
                <div>상태메시지</div>
                <div>상태메시지</div>
            </div>

            <div class="profile3">
                <div>
                    <button th:href="@{/family/getFamily}" class="profilebtn" type="button">일촌</button>
                </div>
                <div>
                    <a th:href="@{/family/areTheyFamily}">
                        <button class="profilebtn" type="button">일촌확인</button>
                    </a>
                </div>
                <div>
                    <a th:href="@{/member/wave}">
                        <button class="profilebtn" type="button" id="wave">파도타기</button>
                    </a>
                </div>
            </div>

            <div class="profile4">
                <div class="profile4-1">
                    History
                </div>
                <div class="profile4-2">
                    <div>윤성민(개굴개굴)</div>
                    <div>임근혁(개굴개굴)</div>
                    <div>이진혁(개굴개굴)</div>
                </div>
            </div>
        </div>
        <div class="albg3">
            <div class="bg3in">
                <form action="" id="form">
                    <div th:each="list:${dto}">
                        <div class="gbtitle">
                            <tr>
                                <th th:text="Ｎo.+${list.getGuestbook_seq()}"></th>
                                <th th:text="${list.getGuestbook_writer()}"></th>
                                <th th:text="${list.getGuestbook_write_date()}"></th>
                                <th>
                                <th><a th:href="@{/Guestbook/delete?(Guestbook_seq=${list.getGuestbook_seq})}">글 삭제</a>

                                </th>
                                <th>
                                    <button class="gowrite" type="button">글쓰기</button>
                                </th>
                            </tr>
                        </div>
                        <div class="gbcontent">
                            <div class="gbprofile">
                                프로필이미지
                            </div>
                            <div class="gbtext">
                                <th th:text="${list.getGuestbook_contents()}" th:readonly></th>
                            </div>
                        </div>
                        <!--                    <div th:each="list1:${dto1}">-->
                        <!--                        <div>-->
                        <!--                            <tr>-->
                        <!--                                <th th:text="${list1.getGusetbook_comment_writer()}"></th>-->
                        <!--                                <th th:text="${list1.getGuestbook_comment_write_date()}"></th>-->
                        <!--                                <th th:text="${list1.getGuestbook_comment_contents()}"></th>-->
                        <!--                            </tr>-->
                        <!--                        </div>-->
                        <!--                    </div>-->
                        <!-- 댓글@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@-->
                        <div class="gbcmtinput">
                            <div class="gbcmt">
                                <input class="gbcmt" type="text" placeholder="댓글을 입력하세요"
                                       id="guestbook_comment_contents">
                            </div>
                            <button class="gbbutton" type="button">확인</button>
                            <input type="hidden" name="parent_seq" th:value="${list.getGuestbook_seq()}">
                        </div>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>
<div class="side">
    <a th:href="@{/toMiniPage(id = ${id})}">
        <button class="btnmain2">메인</button>
    </a>
    <button class="btnmain1">방명록</button>
    <a th:href="@{/toAlbumPage}">
        <button class="btnmain2">사진첩</button>
    </a>
    <button class="btnmain2">다이어리</button>
</div>
</body>

<script>

    $("#delete").on("click", function () {
        let seq = $(this).attr("seq");
        location.href = "/Guestbook/delete?Guestbook_seq=" + seq;
    })

    $(".gowrite").on("click", function (){
        location.href = "/Guestbook/gowrite";
    })


</script>

</html>