<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css"/>
    <title>GuestbookWrite</title>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>

</head>
<style>

</style>
<body>
<div class="container">
    <div class="top">
        <div class="">Today : 245</div>
        <div class="">뮤직플레이어 부분</div>
    </div>

    <div class="bg1">
        <div class="bg2">
            <div th:if="${id} != null">
                <div class="profile0" th:text="${id}">님의 마구간</div>
            </div>

            <div class="profile1">
                <img style="width: 100%; height: 100%;" th:src="|/img/@{${list.getMember_sysname()}}|">
            </div>

            <div class="profile2">
                <div><textarea class="textareabg"  th:text="${list.getMember_message()}"  name="member_message" readonly ></textarea></div>
                <input type="hidden" th:value="${list.getMemberId()}" name="memberId">
            </div>

            <div class="profile3">
                <button th:href="@{/family/getFamily}" class="profilebtn" type="button">일촌</button>
                <a th:href="@{/family/areTheyFamily}">
                    <button class="profilebtn" type="button">일촌확인</button>
                </a>
                <a th:href="@{/member/wave}">
                    <button class="profilebtn" type="button" id="wave">파도타기</button>
                </a>
            </div>

            <div class="profile4">
                <div class="profile4-1">
                    History
                </div>
                <div class="profile4-2">
                    <th>윤성민(개굴개굴)<br>
                    <th>임근혁(시카고)<br>
                    <th>이진혁(물리)
                </div>
            </div>
        </div>
        <form action="/Guestbook/insert">
            <div class="bg3">
                <div class="bg3in">
                    <div class="bgcontent">
                        <div class="gbtitle">
                            <div style="margin-left: 10px"></th></div>
                            <div></div>
                            <div></div>
                            <div style="margin-right: 10px">
                                <!--                                <a class="anchor" >삭제</a>-->
                                <!--                                <span> | </span>-->
                                <!--                                <button class="gowrite" type="button" style="padding: 0px">작성</button>-->
                            </div>
                        </div>

                        <div class="gbcontent">
                            <div class="gbprofile">
                                <div class="gbprofle1">
                                    <div class="gbprofile2">
                                        <img style="width: 100%; height: 100%;" th:src="|/img/@{${list.getMember_sysname()}}|">
                                    </div>
                                </div>
                                <div class="gbtext">
                                    <input class="gbwtype" type="text" id="guestbook_contents" name="guestbook_contents"
                                           placeholder="내용을 입력하세요">
                                </div>
                            </div>
                            <hr>
                            <div style="display: flex;justify-content: space-between">
                                <button class="profilebtn" type="submit" id="back">뒤로가기</button>
                                <button class="profilebtn" type="submit" id="writee">작성하기</button>
                            </div>
                        </div>
                    </div>

                    <input type="hidden" th:value="${id}" name="guestbook_host" id="host">
                </div>
            </div>
        </form>
    </div>
</div>


<div class="side">
    <a th:href="@{/toMiniPage(id = ${id})}">
        <button class="btnmain2">메인</button>
    </a>
    <button class="btnmain1">방명록</button>
    <a th:href="@{/Album/toAlbumPage?(Album_host=${id})}">
        <button class="btnmain2">사진첩</button>
    </a>
    <a th:href="@{/member/goMypage?(memberId=${id})}">
        <button class="btnmain2">내정보</button>
    </a>
</div>
<script>
    $("#back").on("click", function() {
        history.back(); // 뒤로가기
    })
</script>
<script>
    $("#writee").on("click", function () {
        console.log($("#host").val());
    })



    //xss 공격 막기 코드
    onGetEscapeXSS : function (inputText)
    {
        var targetText = inputText;
        if (targetText != '' )
        {
            var source = ["&", "<", ">", "\"", "'", "/", "(", ")", "%", "-"];
            var target = ["&amp;","&lt;","&gt;","&quot;","&#39;","&#47;","&#40;","&#41;","&#37;","&#45;"];

            for(var i = 0; i < source.length; i++)
            {
                targetText = targetText.replace(source[i], target[i]);
            }
        }
        return targetText;
    },

    /**
     * XSS 공격 방지를 위해 변환된 문자를 원본 문자로 복원한다.
     */
    onGetUnescapeXSS : function (inputText)
    {
        var plainText = inputText;
        if (plainText != '')
        {
            var source = ["&amp;","&lt;","&gt;","&quot;","&#39;","&#47;","&#40;","&#41;","&#37;","&#45;"];
            var target = ["&", "<", ">", "\"", "'", "/", "(", ")", "%", "-"];

            for(var  i = 0; i < source.length; i++)
            {
                if(plainText.indexOf(source[i]) > -1)
                {
                    plainText = plainText.replace(source[i], target[i]);
                }
            }
        }
        return plainText;
    }

</script>
</body>
</html>