<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/style.css"/>
    <title>GuestbookWrite</title>

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
            integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ="
            crossorigin="anonymous"></script>

</head>
<body>
<div class="container">
    <div class="top">
        <div class="">Today : 245</div>
        <div class="">뮤직플레이어 부분</div>
    </div>

    <div class="bg1">
        <div class="bg2">
            <div th:if="${id} != null">
                <div class="profile0" th:text="${id}">님의 마구간</div>
            </div>

            <div class="profile1">
                <img style="width: 100%; height: 100%;" th:src="|/img/@{${list.getMember_sysname()}}|">
            </div>

            <div class="profile2">
                <div><textarea class="textareabg"  th:text="${list.getMember_message()}"  name="member_message" readonly ></textarea></div>
                <input type="hidden" th:value="${list.getMemberId()}" name="memberId">
            </div>

            <div class="profile3">
                <button th:href="@{/family/getFamily}" class="profilebtn" type="button">일촌</button>
                <a th:href="@{/family/areTheyFamily}">
                    <button class="profilebtn" type="button">일촌확인</button>
                </a>
                <a th:href="@{/member/wave}">
                    <button class="profilebtn" type="button" id="wave">파도타기</button>
                </a>
            </div>

            <div class="profile4">
                <div class="profile4-1">
                    History
                </div>
                <div class="profile4-2">
                    <th>윤성민(개굴개굴)<br>
                    <th>임근혁(시카고)<br>
                    <th>이진혁(물리)
                </div>
            </div>
        </div>
        <form action="/Guestbook/insert">
            <div class="bg3">
                <div class="bg3in">
                    <div class="bgcontent">
                        <div class="gbtitle">
                            <div style="margin-left: 10px"></th></div>
                            <div></div>
                            <div></div>
                            <div style="margin-right: 10px">
                                <a class="anchor" >삭제</a>
                                <span> | </span>
                                <button class="gowrite" type="button" style="padding: 0px">작성</button>
                            </div>
                        </div>

                        <div class="gbcontent">
                            <div class="gbprofile">
                                <div class="gbprofle1">
                                    <div class="gbprofile2">
                                        <img style="width: 100%; height: 100%;" th:src="|/img/@{${list.getMember_sysname()}}|">
                                    </div>
                                </div>
                                <div class="gbtext">
                                    <input class="gbwtype" type="text" id="guestbook_contents" name="guestbook_contents"
                                           placeholder="내용을 입력하세요">
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>
                    <button class="profilebtn" type="submit" id="writee">글쓰기완료</button>
                    <input type="hidden" th:value="${id}" name="guestbook_host" id="host">
                </div>
            </div>
        </form>
    </div>

</div>
</div>

<div class="side">
    <div class="side1">
        <button class="btnmain2">메인</button>
    </div>
    <div class="side2">
        <a th:href="@{/Guestbook/goGuestbook}">
            <button class="btnmain1">방명록</button>
        </a>
    </div>
    <div class="side3">
        <button class="btnmain2">사진첩</button>
    </div>
    <div class="side4">
        <button class="btnmain2">다이어리</button>
    </div>

</div>

<script>
    $("#writee").on("click", function () {
        console.log($("#host").val());
    })
</script>
</body>
</html>