<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{../static/style.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/style.css">

</head>
<body>

<div th:value="${id}"></div>

<div th:if="${id} != null">
    <div th:text="${id}"></div>
    님 안녕하세요.
    <div class="mainsection">
        <button class="ponyland">포니랜드</button>
        <a th:href="@{/toMiniPage(id = ${id})}">
            <button class="ponyland" type="button">
                <span th:text="${id}"></span> 입장하기
            </button>
        </a>
        <a th:href="@{/}">
            <button class="ponyland">마구간</button>
        </a>
            <button class="login" type="button" id="logout" onclick="areYouKakao();">로그아웃</button>
    </div>
</div>

<div th:unless="${id} != null"> 뉘쇼
    <div class="mainsection">
        <button class="ponyland">포니랜드</button>
        <a th:href="@{/toMiniPage?(id=${id})}">
            <button class="ponyland" type="button">미니홈피</button>
        </a>
        <a th:href="@{/}">
            <button class="ponyland">마구간</button>
        </a>
        <a th:href="@{/login}">
            <button class="login">로그인</button>
        </a>
        <a th:href="@{/signin}">
            <button class="login">회원가입</button>
        </a>
    </div>
</div>

<script th:inline="javascript">
    function areYouKakao(){

        $.ajax({
            url:"/member/areYouKakao",
            data:{"id":[[${id}]]}
        })
            .done(function(resp){
                if(resp=="kakao"){
                    kakaoLogout();
                    alert("카카오 로그아웃 완료!");
                    location.href="/member/logout";
                }else{
                    location.href="/member/logout";
                }

            })
            .fail(function(){
                console.log("error!");
            });
    }


    Kakao.init('2644b324a18137f288c55737e196f4ac'); //발급받은 키 중 javascript키를 사용해준다.
    console.log(Kakao.isInitialized()); // sdk초기화여부판단

    //카카오로그아웃
    function kakaoLogout() {
        if (Kakao.Auth.getAccessToken()) {
            Kakao.API.request({
                url: '/v1/user/unlink',
                success: function (response) {
                },
                fail: function (error) {
                    console.log(error)
                },
            })
            Kakao.Auth.setAccessToken(undefined)
        }
    }
</script>

</body>
</html>