<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
            charset="utf-8"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</head>
<style>
    input[type=password] {
        font-family: Arial;
    }

    ::placeholder{
        font-family: HS새마을체;
    }

</style>

<body>

<div class="container">
    <div class="logintitle">로그인</div>
    <div class="loginsection">
        <div class="logincontainer">
            <form action="/member/login" method="post" id="frm" enctype="multipart/form-data">
                <div><input type="text" class="loginbg" placeholder="아이디" name="memberId" id="member_id"></div>
                <div id=result2></div>
                <div><input type="password" class="loginbg" placeholder="비밀번호" name="memberPw" id="passwd"></div>
                <div><button class="loginbtn">로그인</button></div>
            </form>


            <!--            <button class="loginbtn" onclick="kakaoLogin();" type="button">카카오 로그인</button>-->
            <div style="display: flex; justify-content: center">
                <a  class="kakaologinbtn" href="javascript:kakaoLogin();">
                    카카오 로그인
<!--                    <img class="loginbtn"  src="/static/img/kakao_login_medium.png" style="width: 131px; height: 50px"  >-->
                </a>
            </div>
<!--            <button class="loginbtn" onclick="kakaoLogout();" type="button">카카오 로그아웃</button>-->
<!--            <button class="loginbtn" id="naver_id_login">네이버 로그인</button>-->
            <div id="naver_id_login" style="display:none;"></div>
            <a href="#" id="naverLogin" class="kakaologinbtn" title="새창">네이버 로그인</a>

            <a href="/">
                <button class="loginbtn">메인으로</button>
            </a>
            <div class="loginfind">
                <a th:href="@{/signin}">
                    회원가입
                </a>
                <!--                <span>아이디|비밀번호찾기</span>-->
                <!--        <div>회원가입</div><div>아이디|비밀번호찾기</div>-->
            </div>
        </div>
    </div>
</div>

<!--네이버 로그인-->
<script type="text/javascript">
    var naver_id_login = new naver_id_login("4FNXn3NTIyg4Fd8TKvLF", "http://127.0.0.1/");
    var state = naver_id_login.getUniqState();
    naver_id_login.setButton("green",2,50);
    naver_id_login.setDomain("http://localhost/login");
    naver_id_login.setState(state);
    naver_id_login.setPopup();
    naver_id_login.init_naver_id_login();

    $(document).on("click", "#naverLogin", function(){
        var btnNaverLogin = document.getElementById("naver_id_login").firstChild;
        btnNaverLogin.click();
    });

</script>


<!-- 카카오 스크립트 -->
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
    Kakao.init('2644b324a18137f288c55737e196f4ac'); //발급받은 키 중 javascript키를 사용해준다.
    console.log(Kakao.isInitialized()); // sdk초기화여부판단
    //카카오로그인
    function kakaoLogin() {
        Kakao.Auth.login({
            success: function (response) {
                Kakao.API.request({
                    url: '/v2/user/me',
                    data: {
                        property_keys: ['kakao_account.email', 'kakao_account.gender', 'kakao_account.name', 'kakao_account.profile'],
                    },
                    success: function (response) {

                        let kakao_account = response.kakao_account.email;
                        let kakao_name = response.kakao_account.profile.nickname;
                        // console.log(kakao_account);
                        // console.log(kakao_name);
                        location.href = "/member/signinForKakao?email=" + kakao_account + "&name=" + kakao_name + "";
                    },
                    fail: function (error) {
                        // console.log(error)
                    },
                })
            },
            fail: function (error) {
                // console.log(error)
            },
        })
    }

    //카카오로그아웃
    function kakaoLogout() {
        if (Kakao.Auth.getAccessToken()) {
            Kakao.API.request({
                url: '/v1/user/unlink',
                success: function (response) {
                },
                fail: function (error) {
                    // console.log(error)
                },
            })
            Kakao.Auth.setAccessToken(undefined)
        }
    }

    let inputid = document.getElementById("member_id")
    let inputpasswd2 = document.getElementById("passwd")
    let frm = document.getElementById("frm")

    frm.onsubmit = function () {
        let id = inputid.value;
        let passwd3 = inputpasswd2.value;

        if (id == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '아이디를 입력하세요',
                confirmButtonText: '확인'
            }).then(function () {
                inputphone.focus();
            })
            return false;
        } else if (passwd3 == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '패스워드를 입력해 주세요!',
                confirmButtonText: '확인'
            }).then(function () {
                inputpasswd2.focus();
            })
            return false;
        }
    }

    document.getElementById("member_id").onkeyup = function() {
        let id = document.getElementById("member_id").value;
        $.ajax({
            url:"/member/duplCheck",
            data:{"member_id":id}
        }).done(function(resp){
            console.log(resp);
            if(resp === false){
                $("#result2").html("존재하지 않는 아이디 입니다.");
                $("#result2").css("color","red")
            } else{
                $("#result2").html("");
            }
        });
    }

</script>


</body>
</html>