<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<body>
<div class="logintitle">로그인</div>
<div class="loginsection">
    <div class="container">
        <form action="/member/login" method="post">
        <input type="text" class="loginbg" placeholder="아이디" name="memberId"><br>
        <input type="text" class="loginbg" placeholder="비밀번호" name="memberPw">
        <button class="loginbtn">로그인</button>
        </form>
        <div class="loginfind">
            <span>회원가입 </span>
            <span>아이디|비밀번호찾기</span>
            <!--        <div>회원가입</div><div>아이디|비밀번호찾기</div>-->
        </div>

        <button class="loginbtn">카카오 로그인</button>
        <button class="loginbtn">네이버 로그인</button>
        <a href="main.html">
            <button class="loginbtn">메인으로</button>
        </a>
    </div>

</div>


</body>
</html>