<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
</head>
<body>
<div class="logintitle">로그인</div>
<div class="loginsection">
    <div class="container">
        <form action="/member/login" method="post">
        <input type="text" class="loginbg" placeholder="아이디" name="memberId"><br>
        <input type="text" class="loginbg" placeholder="비밀번호" name="memberPw">
        <button class="loginbtn">로그인</button>
        </form>
        <div class="loginfind">
            <span>회원가입 </span>
            <span>아이디|비밀번호찾기</span>
            <!--        <div>회원가입</div><div>아이디|비밀번호찾기</div>-->
        </div>

        <button class="loginbtn" onclick="kakaoLogin();" type="button">카카오 로그인</button>
        <button class="loginbtn" onclick="kakaoLogout();" type="button">카카오 로그아웃</button>
        <button class="loginbtn">네이버 로그인</button>
        <a href="main.html">
            <button class="loginbtn">메인으로</button>
        </a>
    </div>

</div>

<!--<ul>-->
<!--    <li onclick="kakaoLogin();">-->
<!--        <a href="javascript:void(0)">-->
<!--            <span>카카오 로그인</span>-->
<!--        </a>-->
<!--    </li>-->
<!--    <li onclick="kakaoLogout();">-->
<!--        <a href="javascript:void(0)">-->
<!--            <span>카카오 로그아웃</span>-->
<!--        </a>-->
<!--    </li>-->
<!--</ul>-->

<!-- 카카오 스크립트 -->
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
    Kakao.init('2644b324a18137f288c55737e196f4ac'); //발급받은 키 중 javascript키를 사용해준다.
    console.log(Kakao.isInitialized()); // sdk초기화여부판단
    //카카오로그인
    function kakaoLogin() {
        Kakao.Auth.login({
            success: function (response) {
                Kakao.API.request({
                    url: '/v2/user/me',
                    data: {
                        property_keys: ['kakao_account.email', 'kakao_account.gender'],
                    },
                    success: function (response) {

                            let id = response.id;
                            let stringId = id.toString();
                            let kakao_account = response.kakao_account;

                            //location.href="/signinForKakao?id="+stringId+"&email="+kakao_account+"";


                    },
                    fail: function (error) {
                        console.log(error)
                    },
                })
            },
            fail: function (error) {
                console.log(error)
            },
        })
    }
    //카카오로그아웃
    function kakaoLogout() {
        if (Kakao.Auth.getAccessToken()) {
            Kakao.API.request({
                url: '/v1/user/unlink',
                success: function (response) {
                    alert("카카오 로그아웃이 완료되었습니다.")
                },
                fail: function (error) {
                    console.log(error)
                },
            })
            Kakao.Auth.setAccessToken(undefined)
        }
    }
</script>





</body>
</html>