<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

</head>

<body>

<div class="container">
    <div class="top">
        <div th:if="${id}!=null">
        <div class="" th:text="|Today : ${dto.memberHomepageViewCount}|"></div>
        <div class="">뮤직플레이어 부분</div>
        </div>
    </div>

    <div class="bg1">
        <div class="bg2">
            <div th:if="${id} != null">
                <div class="profile0" th:text="${id}">님의 마구간</div>
            </div>

            <div class="profile1">
                테스트입니다.
            </div>

            <div class="profile2">
                <div>상태메시지</div>
                <div>상태메시지</div>
                <div>상태메시지</div>
            </div>

            <div class="profile3">
                <div>
                    <div th:if="${id}== ${sessionID}">
                    <button  class="profilebtn" type="button" onclick="checkNewFamily();">일촌신청알림</button>
                    </div>
                </div>
                <div>
                    <div th:if="${id}!= ${sessionID}">

                <input type="hidden" th:value="${sessionID}" id="hiddenProposer">
                <input type="hidden" th:value="${id}" id="hiddenProposed">
                        <button class="profilebtn" type="button"onclick="openChild()">일촌신청</button>
                    </form>
            </div>
                </div>
                <div>
                    <div th:if="${id}== ${sessionID}">

                        <button class="profilebtn" type="button"onclick="openFamilyList()">일촌목록</button>
                        </form>
                    </div>
                </div>
                <div>
                    <a th:href="@{/member/wave}">
                        <button class="profilebtn" type="button" id="wave">파도타기</button>
                    </a>
                </div>
            </div>

            <div class="profile4">
                <div class="profile4-1">
                    History
                </div>
                <div class="profile4-2">
                    <div>윤성민(개굴개굴)</div>
                    <div>임근혁(개굴개굴)</div>
                    <div>이진혁(개굴개굴)</div>
                </div>
            </div>
        </div>
        <div class="bg3">
            <div class="bg3-1">
                <div class="updatednews">
                    <div>Updated News</div>
                    <div>사진첩: 하......</div>
                    <div>게시판: 하......</div>
                    <div>방명록: 하......</div>
                </div>
                <div class="updatednews2">
                    <div class="updatednews2-1">
                        방명록 0/64
                    </div>
                    <div class="updatednews2-1">
                        사진첩 0/64
                    </div>
                    <div class="updatednews2-1">
                        다이어리 0/64
                    </div>
                </div>
            </div>
            <div class="bg3-2">
                <div class="bg3-2-1-title">
                    MiniRoom
                </div>
                <div class="bg3-2-1">
                    말
                </div>
                <div class="bg3-2-2">
                    >내마구간
                </div>
            </div>
        </div>
    </div>
</div>
<div class="side">
    <button class="btnmain1">메인</button>
    <a th:href="@{/Guestbook/goGuestbook}">
        <button class="btnmain2">방명록</button>
    </a>
    <a th:href="@{/Album/toAlbumPage}">
        <button class="btnmain2">사진첩</button>
    </a>
    <button class="btnmain2">다이어리</button>
</div>

<script th:inline="javascript">
 function getFamily(){
         $.ajax({
             url:"/family/getFamily",
             data:{"familyProposerId":[[${sessionID}]],
             "familyProposedId":[[${id}]]},
             type:"post"
         })
             .done(function(resp){
                 if(resp=="2"){
                     alert("일촌 신청이 완료되었습니다.")

                 }else if(resp=="1"){
                     alert("이미 일촌 관계입니다.");
                 }else{
                     alert("상대방이 아직 일촌 신청을 수락하지 않았습니다.")
                 }


             })
             .fail(function(){
                 console.log("error!");
             });

 }
function openChild(){
     let popup = window.open("/toFamilyOpen","일촌명 설정","width=700px,height=800px,scrollbars=yes");

}

function checkNewFamily(){
    let popup = window.open("/toCheckNewFamilyOpen","새로받은 일촌 신청 확인","width=700px,height=800px,scrollbars=yes");

}

function openFamilyList(){
    let popup = window.open("/toFamilyListOpen","일촌목록","width=700px,height=800px,scrollbars=yes");
}
</script>
</body>

</html>