<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="../static/style.css"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <style>

        #target {
            position:absolute;
            z-index: 5;
            display: flex;
        }

        #bg4 {
            position:relative;
        }
    </style>
</head>

<style>
    textarea{
        resize:none;
        border: solid transparent;


    }
</style>
<body>
<div class="container">

    <div class="top">
        <div th:if="${id}!=null">
            <div class="" th:text="|Today : ${dto.memberHomepageViewCount}|"></div>
        </div>
        <div class="">
            <!--                        <audio id="music" controls class="hidden-xs" style=" position:fixed; right:0; bottom:0; z-index:99999999999">-->
            <!--                            <source src="https://drive.google.com/uc?export=download&id=1ypuNRShKf7DcyMOTSx2Oyp-fJ0FHgUmR" type="audio/mpeg">-->
            <!--                            Your browser does not support the audio element.-->
            <!--                        </audio>-->
            <!--                        <audio src="https://ccrma.stanford.edu/~jos/mp3/harpsi-cs.mp3" controls autoplay></audio>-->
        </div>
    </div>


    <div class="bg1">
        <div class="bg2">
            <div th:if="${id} != null">
                <div class="profile0" th:text="${id}">님의 마구간</div>
            </div>

            <div class="profile1">

                <img style="width: 100%; height: 100%;" th:src="|/img/@{${dto.getMember_sysname()}}|" >

            </div>

            <div class="profile2">
                <form action="/member/message">
                    <div style="margin-bottom: 10px">
                        <textarea class="textareabg"  th:text="${dto.getMember_message()}"  name="member_message" readonly ></textarea>
                    </div>
                    <div style="display: flex; justify-content: space-between">
                        <button class="modifybtn" type="button" >수정하기</button>
                        <input type="hidden" th:value="${dto.getMemberId()}" name="memberId">
                        <button class="modifybtn2" type="button" >변경</button>
                    </div>
                </form>
            </div>


            <div class="profile3">
                <div>
                    <div th:if="${id}== ${sessionID}">
                        <button class="profilebtn" type="button" onclick="checkNewFamily();">일촌신청알림</button>
                    </div>
                </div>
                <!--                <div>-->
                <div th:if="${id}!= ${sessionID}">
                    <input type="hidden" th:value="${sessionID}" id="hiddenProposer">
                    <input type="hidden" th:value="${id}" id="hiddenProposed">
                    <button class="profilebtn" type="button" onclick="openChild()">일촌신청</button>
                    </form>
                </div>
                <!--                </div>-->
                <div>
                    <div th:if="${id}== ${sessionID}">

                        <button class="profilebtn" type="button"onclick="openFamilyList()">일촌목록</button>
                        <!--                        </form>-->
                    </div>
                </div>
                <div>
                    <a th:href="@{/member/wave}">
                        <button class="profilebtn" type="button" id="wave">파도타기</button>
                    </a>
                </div>
            </div>

            <div class="profile4">
                <div class="profile4-1">
                    History
                </div>
                <div class="profile4-2">
                    <div>윤성민(개굴개굴)</div>
                    <div>임근혁(개굴개굴)</div>
                    <div>이진혁(개굴개굴)</div>
                </div>
            </div>
        </div>
        <div class="bg3">
            <div class="bg3-1">
                <div class="updatednews">
                    <div style="font-size: 30px; color: #F4A127;" >사진첩 최근글</div>
                    <div th:if="${list.getMemberId()==dto3.getAlbum_writer()}" th:each="dto3: ${list3}" th:text="${dto3.getAlbum_title()}"></div>
                </div>
                <div class="updatednews2">
                    <div class="updatednews2-1">
                        방명록 <div th:text="${list5}"></div>/<div  th:text="${list2}"></div>
                    </div>
                    <div class="updatednews2-1">
                        사진첩 <div th:text="${list4}"> <img th:if="${list4!=null}" th:src="@{/static/img/new1.jpg}"></div>/<div   th:text="${list1}" ></div>
                    </div>
                    <div class="updatednews2-1">
                        다이어리 0/64
                    </div>
                </div>
            </div>
            <div class="bg3-2">
                <div class="bg3-2-1-title">
                    MiniRoom
                </div>
                <div class="bg3-2-1" id="bg4">
                    <!--                    여기서부터 미니룸 div-->
                    <!--                    <div class="bg4"  >-->

                    <img th:src="|/static/img/@{${nowdto.itemName}}|" id="target">

                    <!--                    </div>-->
                </div>
                <div class="bg3-2-2">
                    <span><a th:href="@{/stable/toStable(id = ${id})}">
                        <i class="material-symbols-outlined" style="font-size:36px; margin-bottom: 0px;">door_open</i>
                        마구간
                    </a>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="side">
    <button class="btnmain1">메인</button>
    <a th:href="@{/Guestbook/goGuestbook?(guestbook_host=${id})}">
        <button class="btnmain2">방명록</button>
    </a>
    <a th:href="@{/Album/toAlbumPage?(Album_host=${id})}">

        <button class="btnmain2">사진첩</button>
    </a>
    <a th:href="@{/member/goMypage?(memberId=${id})}">
        <button class="btnmain2">내정보</button>
    </a>
</div>
<script>
    $(".modifybtn").on("click",function(){
        $('textarea').removeAttr("readonly");
        $(this).hide();
        $('<button id="cancel-button">취소</button>').insertAfter(this);
        $(".modifybtn2").attr("type","submit");  //변경버튼누르면 수정
    })
</script>

<script th:inline="javascript">
    function getFamily() {
        $.ajax({
            url: "/family/getFamily",
            data: {
                "familyProposerId": [[${sessionID}]],
                "familyProposedId": [[${id}]]
            },
            type: "post"
        })
            .done(function (resp) {
                if (resp == "2") {
                    alert("일촌 신청이 완료되었습니다.")

                } else if (resp == "1") {
                    alert("이미 일촌 관계입니다.");
                } else {
                    alert("상대방이 아직 일촌 신청을 수락하지 않았습니다.")
                }


            })
            .fail(function () {
                console.log("error!");
            });

    }
    function openChild(){
        let popup = window.open("/toFamilyOpen","일촌명 설정","width=700px,height=800px,scrollbars=yes");

    }

    function checkNewFamily(){
        let popup = window.open("/toCheckNewFamilyOpen","새로받은 일촌 신청 확인","width=700px,height=800px,scrollbars=yes");

    }

    function openFamilyList(){
        let popup = window.open("/toFamilyListOpen","일촌목록","width=700px,height=800px,scrollbars=yes");
    }

    $(function(){

        let onloadx = [[${nowdto.itemX}]];
        let onloady = [[${nowdto.itemY}]];

        document.getElementById("target").style.left = onloadx + 'px';
        document.getElementById("target").style.top = onloady + 'px';

        $("#bg4").css({"background-image":"url(/static/img/"+[[${nowbgdto.getItemName()}]]+")","background-repeat":"no-repeat",
            "background-size":"cover"})
        // $("#bg4").attr("style","background-image : url(/static/img/"+[[${nowbgdto.itemName}]]+")")
    })


</script>
</body>

<!--&lt;!&ndash; SCM Music Player https://www.scmplayer.net &ndash;&gt;-->
<!--<script type="text/javascript" src="https://www.scmplayer.net/script.js"-->
<!--        data-config="{'skin':'https://static.tumblr.com/su8juwr/BpLn0szvm/miniskin.css','volume':50,'autoplay':true,-->
<!--        'shuffle':false,'repeat':1,'placement':'top','showplaylist':false,'playlist':[{'title':'Y','url':'https://drive.google.com/uc?export=download&id=1ylPXjljH5ReVyBUQ7b_59AkyWzqDJ2qV'}-->
<!--        ,{'title':'Trip','url':'https://drive.google.com/uc?export=download&id=1ypuNRShKf7DcyMOTSx2Oyp-fJ0FHgUmR'}-->
<!--        ,{'title':'Vain','url':'https://drive.google.com/uc?export=download&id=16SG_jWEE9qyoONLoJPY2Mk5DR3NxIcQu'}]}"></script>-->
<!--&lt;!&ndash; SCM Music Player script end &ndash;&gt;-->


</html>