<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Main</title>
  <link href="https://fonts.googleapis.com/css?family=HS새마을체&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="../static/style.css" />
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js" charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<body>

<div class="container">
    <div class="top">
        <div class="today">Today : 245</div>
        <div class="music">뮤직플레이어 부분</div>
    </div>

    <div class="bg1">

    </div>
    <div class="bg2">

        <div class="profile0">
            개굴개굴님의 마구간
        </div>

        <div class="profile1">
            테스트입니다.
        </div>

        <div class="profile2">
            상태메시지<br>
            상태메시지<br>
            상태메시지<br>
        </div>

    <div class="profile3">
      <button th:href="@{/family/getFamily}" class="profilebtn" type="button">일촌</button>
      <a th:href="@{/family/areTheyFamily}"><button class="profilebtn" type="button">일촌확인</button></a>
      <a th:href="@{/member/wave}"><button class="profilebtn" type="button" id="wave">파도타기</button></a>
    </div>

        <div class="profile4">
            <div class="profile4-1">
                History
            </div>
            <div class="profile4-2">
                <th>윤성민(개굴개굴)<br>
                <th>임근혁(시카고)<br>
                <th>이진혁(물리)<br>
            </div>
        </div>
    </div>
    <div class="bg3">
        <div class="bg3-1">
            <div class="updatednews">
                Updated News<br>
                사진첩: 하......<br>
                사진첩: 하......<br>
                사진첩: 하......<br>
            </div>
            <div class="updatednews2">
                방명록 0/64
            </div>
        </div>
        <div class="bg3-2">
            MiniRoom
            <div class="bg3-2-1">
                말
            </div>
            <div class="bg3-2-2">
                >내마구간
            </div>
        </div>


    </div>


  <div class="side">
    <div class="side1">
      <button class="btnmain1">메인</button>
    </div>
    <div class="side2">
      <a th:href="@{/Guestbook/goGuestbook}"><button class="btnmain2">방명록</button></a>
    </div>
    <div class="side3">
      <a th:href="@{/toAlbumPage}" >
      <button class="btnmain2">사진첩</button>
      </a>
    </div>
    <div class="side4">
      <button class="btnmain2">다이어리</button>
    </div>
  </div>
</div>

<!--네이버 토큰 값 확인-->
<script type="text/javascript">
    var naver_id_login = new naver_id_login("4FNXn3NTIyg4Fd8TKvLF", "http://localhost/toMiniPage");
    // 접근 토큰 값 출력
    //alert(naver_id_login.oauthParams.access_token);
    // 네이버 사용자 프로필 조회
    naver_id_login.get_naver_userprofile("naverSignInCallback()");
    // 네이버 사용자 프로필 조회 이후 프로필 정보를 처리할 callback function
    function naverSignInCallback() {
        console.log(naver_id_login.getProfileData('name'));
        console.log(naver_id_login.getProfileData('email'));
        console.log(naver_id_login.getProfileData('mobile'));
        console.log(naver_id_login.getProfileData("id"));
    }
</script>



<script>
  // $("#wave").click(function(){
  //   location.href = "/member/wave";
  // })

</script>
</body>

</html>