<html>
<head>
    <meta charset="UTF-8">
    <title>쪽지함</title>


    <!-- CSS File -->
    <link href="../static/message.css" rel="stylesheet">

    <!-- 메세지 전송 아이콘(종이비행기) 때문에 필요 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
          rel="stylesheet"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        a {
            text-decoration: none;
            color: black;
        }
        .detail:hover{
            cursor: pointer;
        }

    </style>
</head>

<body>

<!-- 메뉴바
   현재페이지 뭔지 param.thisPage에 넣어서 navbar.jsp에  던짐 -->


<br/>
<br/><br/>
<div class="msg-container">

    <div class="messaging">
        <div class="inbox_msg">
            <!-- 메세지 목록 영역 -->
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent</h4>
                    </div>
                    <!-- 메세지 검색 -->
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar"  placeholder="Search" >
                            <span class="input-group-addon">
	                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
	                </span>
                        </div>
                    </div>
                </div>

                <!-- 메세지 리스트 -->
<!--                <form action="/message/detail?${no}" id="see">-->
                <div class="inbox_chat">
                    <a onclick="detail()" href="#">
                        <div th:each="item : ${list}">
<!--                            <a th:href="@{/message/detail?(no=${item.no})}">-->
<!--                          <input type="hidden" th:value="${item.no}" name="no" value="${item.no}">-->
                            <div>
                                  <div th:text="${item.no}"/>
                                <div>보낸이: <span th:text="${item.send_nick}"/></div>
                                <div>제목: <span th:text="${item.title}"/></div>
                                <br/>
                                <!-- 새로운 div 태그 추가 -->
                                <div style="border: 1px solid; border-color: black;">
                                </div>
                            </div>
<!--                            </a>-->
                        </div>
                    </a>
                </div>
<!--                </form>-->
                <a href="/message/write" onClick="window.open(this.href, '', 'width=530, height=550'); return false;">
                    <button>쪽지 보내기</button>
                </a>
            </div>

            <!-- 메세지 내용 영역 -->
            <div class="mesgs">
                <!-- 메세지 내용 목록 -->
            </div>
                <div class="send_message">
                </div>
                <!-- 메세지 입력란이 올자리 -->
        </div>

    </div>
</div>

<script>
        function detail() {
        // Get the values of the "send_nick", "title", "content", and "send_time" variables
        var send_nick = "${send_nick}";
        var title = "${title}";
        var content = "${content}";

        // Use AJAX to send a request to the server
            $.ajax({
            url: '/message/detail',
            type: 'GET',
            data: {
            send_nick: send_nick,
            title: title,
            content: content,
        },
        success: function(response) {
        // If the request is successful, update the page with the information from the server
            $('#send_nick').text(response.send_nick);
            $('#title').text(response.title);
            $('#content').text(response.content);
        }
        });
        }
</script>


</body>


</html>