<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>쪽지함</title>


    <!-- CSS File -->
    <link href="../static/message.css" rel="stylesheet">

    <!-- 메세지 전송 아이콘(종이비행기) 때문에 필요 -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css"
          rel="stylesheet"/>
    <style>
        a {
            text-decoration: none;
            color: black;
        }

        .detail:hover {
            cursor: pointer;
        }

    </style>
</head>

<body>
<!-- 메뉴바
   현재페이지 뭔지 param.thisPage에 넣어서 navbar.jsp에  던짐 -->
<br/>
<br/><br/>
<div class="msg-container">

    <div class="messaging">
        <div class="inbox_msg">
            <!-- 메세지 목록 영역 -->
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading">
                        <h4>Recent</h4>
                    </div>
                    <!-- 메세지 검색 -->
                    <div class="srch_bar">
                        <div class="stylish-input-group">
                            <input type="text" class="search-bar" placeholder="Search">
                            <span class="input-group-addon">
	                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
	                </span>
                        </div>
                    </div>
                </div>

                <!-- 메세지 리스트 -->
                <!--                <form action="/message/detail?${no}" id="see">-->
                <div class="inbox_chat">
                    <div th:each="item : ${list}">
                        <!--                            <a th:href="@{/message/detail?(no=${item.no})}">-->
                        <!--                          <input type="hidden" th:value="${item.no}" name="no" value="${item.no}">-->
                        <div>
                            <div th:text="${item.no}" th:value="${item.no}"/>
                            <!--<input type="hidden" class="no" name="no" th: value="${item.no}">-->
                            <div>보낸이: <span th:text="${item.send_nick}"/></div>
<!--                            <div>제목:<a href="@{#}" th:onclick="detail()"> <span th:text="${item.title}"/> </a></div>-->
                            <div> 제목:<button type="button" class="detailBtn"> <span th:text="${item.title}"/></button></div>
                            <input type="hidden" name="no" class="no" th:value="${item.no}" th:attrappend="id=${itemStat.index}">

                            <br/>
                            <!-- 새로운 div 태그 추가 -->
                            <div style="border: 1px solid; border-color: black;">
                            </div>
                        </div>
                        <!--                            </a>-->
                    </div>
                    </a>
                </div>
                <!--                </form>-->
                <a href="/message/write" onClick="window.open(this.href, '', 'width=530, height=550'); return false;">
                    <button>쪽지 보내기</button>

            </div>

            <!-- 메세지 내용 영역 -->
            <div class="mesgs">
                <!-- 메세지 내용 목록 -->
                <div class="msg_history" name="contentList">
                    <p th:text="${send_nick}"></p>
                    <p th:text="${title}"></p>
                    <p th:text="${content}"></p>
                    <p th:text="${send_time}"></p>
                </div>
                <div class="send_message">
                </div>
                <!-- 메세지 입력란이 올자리 -->
            </div>
        </div>

    </div>
</div>

<script>

    $(".detailBtn").on("click",function (){
        let index = $(this).attr("id");
        let no = $('no').eq(index).text;
        console.log(no);
        $.ajax({
            url: "/message/detail",
            type: "POST",
            data: {
                "no" : no
            },
            success: function (response) {
                alert(response);
            }
        });
    });

</script>
</body>
</html>