<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>쪽지함</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- CSS File -->
    <link href="../static/message.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.css" rel="stylesheet">
    <!-- 메세지 전송 아이콘(종이비행기) 때문에 필요 -->
<!--    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet"/>-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>

        @font-face {
            font-family: font;
            src: url("/static/hssaemaulfont.woff") format("woff");
        }
        * {
            box-sizing: border-box;
            font-family: font;
        }


        a {
            text-decoration: none;
            color: black;
        }

        .detail:hover {
            cursor: pointer;
        }
        .small-font {
            font-size: 15px;
        }

        .detailBtn, .inbox_chat, .recent_heading {
            cursor: pointer;
        }

        .highlighted {
            background-color: #FFECB4;
        }

        .highlighted2 {
            background-color: #FFECB4;
        }

        .recent_heading h4 {
            text-align: center;
        }





    </style>
</head>

<body>

<br/>
<br/><br/>
<div class="msg-container">

    <div class="messaging">
        <div class="inbox_msg">
            <!-- 메세지 목록 영역 -->
            <div class="inbox_people">
                <div class="headind_srch">
                    <div class="recent_heading" onclick="displayDescription('inbox')">
                        <h4>받은 쪽지함</h4>
                    </div>
                    <div class="recent_heading" onclick="displayDescription('sent')">
                        <h4>보낸 쪽지함</h4>
                    </div>

                </div>

                <!-- 메세지 리스트 -->
                <!--                <form action="/message/detail?${no}" id="see">-->
                <div class="inbox_chat" id="inbox2">
                    <div th:each="item : ${list}">
                        <!--                        <div class="detailBtn" type="button">-->
                        <a class="detailBtn" type="button">
                            <div><span th:text="'보낸이 : ' + ${item.send_nick}"/></div>
                            <div th:text="'제목 : ' + ${item.title}"></div></a>
                        <input type="hidden" name="no" class="no" th:value="${item.no}"
                               th:attrappend="id=${itemStat.index}">
                        <br/>
                        <!-- 새로운 div 태그 추가 -->
                        <div style="border: 1px solid; border-color: lightgrey;">
                        </div>
                    </div>
                </div>

                <!-- 내가 보낸 메세지함 sentMail -->
                <div class="inbox_chat" id="sendbox">
                    <div th:each="list2 : ${list2}">
                        <a class="detailBtn2" type="button">
                            <div><span th:text="'받은이 : ' + ${list2.recv_nick}"/></div>
                            <div><span th:text="'제목 : ' + ${list2.title}"/></div></a>
                        <input type="hidden" name="no" class="no" th:value="${list2.no}"
                               th:attrappend="id=${list2Stat.index}">
                        <br/>
                        <div style="border: 1px solid; border-color: lightgrey;">
                        </div>
                    </div>
                </div>
                <a href="/message/write" onClick="window.open(this.href, '', 'width=550, height=502'); return false;">
<!--                    <button class="sendbtn"><i class="fa-solid fa-paper-plane"> 쪽지 보내기</i></button>-->
                    <button class="sendbtn" style="display: flex; align-items: center">
                        <i class="material-symbols-outlined" style="font-size:24px;">send</i>
                        <span>쪽지 보내기</span>
                    </button>
                </a>

            </div>
        </div>
    </div>
    <!-- 메세지 내용 영역 -->
    <div class="mesgs">
        <!-- 메세지 내용 목록 -->
        <div class="msg_history" name="contentList">
        </div>

        <div class="send_message">
        </div>
        <!-- 메세지 입력란이 올자리 -->
    </div>

</div>
<script>

    const detailBtns = document.querySelectorAll('.detailBtn');
    const detailBtns2 = document.querySelectorAll('.detailBtn2');
    const divs = document.querySelectorAll('div');

    detailBtns.forEach((btn) => {
        btn.addEventListener('click', () => {
            divs.forEach((div) => {
                div.classList.remove('highlighted');
            });
            btn.parentElement.classList.toggle('highlighted');
        });
    });

    detailBtns2.forEach((btn) => {
        btn.addEventListener('click', () => {
            divs.forEach((div) => {
                div.classList.remove('highlighted');
            });
            btn.parentElement.classList.toggle('highlighted');
        });
    });





    const inboxHeading = document.querySelector('.recent_heading:nth-of-type(1)');
    const sentHeading = document.querySelector('.recent_heading:nth-of-type(2)');

    inboxHeading.addEventListener('click', () => {
        inboxHeading.classList.toggle('highlighted2');
        sentHeading.classList.remove('highlighted2');
    });

    sentHeading.addEventListener('click', () => {
        sentHeading.classList.toggle('highlighted2');
        inboxHeading.classList.remove('highlighted2');
    });


    $(document).ready(function() {
        $('#sendbox').hide();
    });

    function displayDescription(folder) {
        if (folder == 'inbox') {
            $('#inbox2').show();
            $('#sendbox').hide();
        } else if (folder == 'sent') {
            $('#inbox2').hide();
            $('#sendbox').show();
        }
    }



    $(".detailBtn").on("click",function (){
        $(".msg_history").empty();
        let no = $(this).next().val();
        $.ajax({
            url: "/message/detail",
            type: "POST",
            data: {
                "no": no
            },
            success: function (data) {

                // 답장하기 버튼 중복생성 방지
                $(".mesgs button").remove();

            }

        }).done(function (data) {

            let target = JSON.parse(data)
            console.log(target);
            let div = $("<div>");
            let h1 = $("<h3>");
            h1.text("받은 쪽지");
            div.append(h1);

            let p2 = $("<p>");
            p2.append("보낸이 : " + target.send_nick);
            p2.addClass("small-font");
            p2.css("color", "grey");
            let p3 = $("<p>");
            p3.append("받는이 : " + target.recv_nick);
            p3.addClass("small-font");
            p3.css("color", "grey");
            let p4 = $("<p>");
            p4.append("보낸 시간 : " + target.send_time);
            p4.addClass("small-font");
            p4.css("color", "grey");
            let p5 = $("<h3>");
            p5.text("내용");
            div.append(p5);
            let p6 = $("<p>");
            p6.append(target.content);
            p6.addClass("small-font");

            div.append(p2);
            div.append(p3);
            div.append(p4);
            div.append(p5);
            div.append(p6);
            $(".msg_history").append(div);


            let replyBtn = $("<button>");
            replyBtn.text("답장하기");
            $(".mesgs").append(replyBtn);
            let replyBtn2 = $("<button>");
            replyBtn2.text("삭제하기");
            $(".mesgs").append(replyBtn2);
            replyBtn.on("click", function() {
                window.open("/message/write?replyTo=" + target.send_nick, "", "width=550, height=502");
            });
            replyBtn2.click(function() {
                // Send a DELETE request to the /message/delete URL
                $.ajax({
                    url: '/message/delete',
                    type: "POST",
                    data: {
                        "seq": no
                    },
                    success: function(result) {
                        // Display the alert
                        alert("삭제 되었습니다."); // "Deleted" in Korean

                        // Refresh the page
                        location.reload();
                    }
                });
            });


        });
    });

    $(".detailBtn2").on("click",function (){
        $(".msg_history").empty();
        let no = $(this).next().val();
        $.ajax({
            url: "/message/detail",
            type: "POST",
            data: {
                "no": no
            },
            success: function (data) {

                // 답장하기 버튼 중복생성 방지
                $(".mesgs button").remove();

            }

        }).done(function (data) {
            let target = JSON.parse(data)
            console.log(target);
            let div = $("<div>");
            let h1 = $("<h3>");
            h1.text("보낸 쪽지");
            div.append(h1);
            let p2 = $("<p>");
            p2.append("보낸이 : " + target.send_nick);
            p2.addClass("small-font");
            p2.css("color", "grey");
            let p3 = $("<p>");
            p3.append("받는이 : " + target.recv_nick);
            p3.addClass("small-font");
            p3.css("color", "grey");
            let p4 = $("<p>");
            p4.append("보낸 시간 : " + target.send_time);
            p4.addClass("small-font");
            p4.css("color", "grey");
            let p5 = $("<h3>");
            p5.text("내용");
            div.append(p5);
            let p6 = $("<p>");
            p6.append(target.content);
            p6.addClass("small-font");

            div.append(p2);
            div.append(p3);
            div.append(p4);
            div.append(p5);
            div.append(p6);
            $(".msg_history").append(div);

            let replyBtn2 = $("<button>");
            replyBtn2.text("삭제하기");
            $(".mesgs").append(replyBtn2);
            replyBtn2.click(function() {
                // Send a DELETE request to the /message/delete URL
                $.ajax({
                    url: '/message/delete',
                    type: "POST",
                    data: {
                        "seq": no
                    },
                    success: function(result) {
                        // Display the alert
                        alert("삭제 되었습니다."); // "Deleted" in Korean

                        // Refresh the page
                        location.reload();
                    }
                });
            });

        });
    });


</script>
</body>
</html>