<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mypage</title>
    <link rel="stylesheet" href="../static/mypage.css"/>
    <!--    <link rel="stylesheet" href="../static/style.css"/>-->
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
            charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<style>
    label.profileimg:hover {
        color: #ffffff;
    }
</style>
<body>
<div class="container">

    <div class="top">
        <div class="" th:text="|Today : ${list.memberHomepageViewCount}|"></div>
        <div class="topright">
            <input style="color: white" type="text" class="searchbox2" placeholder="아이디를 입력하세요" name="id" id="id">
            <button type="button" class="searchbtn" onclick="selectById()">검색</button>
            <!--                        <audio id="music" controls class="hidden-xs" style=" position:fixed; right:0; bottom:0; z-index:99999999999">-->
            <!--                            <source src="https://drive.google.com/uc?export=download&id=1ypuNRShKf7DcyMOTSx2Oyp-fJ0FHgUmR" type="audio/mpeg">-->
            <!--                            Your browser does not support the audio element.-->
            <!--                        </audio>-->
            <!--                        <audio src="https://ccrma.stanford.edu/~jos/mp3/harpsi-cs.mp3" controls autoplay></audio>-->
        </div>
        <!--        <div class="">뮤직플레이어 부분 </div>-->
    </div>
    <div class="bg1">
        <form action="/member/imgupdate" method="post" enctype="multipart/form-data">
            <div class="bg4">
                <div class="profile1">
                    <div class = "thumbnail">
                        <input type="hidden" name="memberId" th:value="${id}">
                        <!--null이 아니면 sysname을 불러오고 null값이면 img밑에있는 기본프로필사진을 불러온다.-->
                        <img style="width: 100%; height: 100%;"  th:if="${list.getMember_sysname() != null}" th:src="|/img/@{${list.getMember_sysname()}}|" id="profile"  />
                        <img style="width: 100%; " height="100%;" th:if="${list.getMember_sysname() == null}" src="/static/img/no_profile.jpg" >

                    </div>
                </div>
                <div class = "control">
                    <label class="profileimg" for="profile_img">프로필 이미지 변경하기</label>
                    <input type = file name="files" id = "profile_img"  accept=".png,.jpg,.jpeg,.gif" style="display: none">
                </div>

                <button class="profilebtn" type="button">프로필수정</button>

                <div style="margin-top: 10px">
                    <button class="profilebtn1" type="button">취소</button>
                    <button class="profilebtn2" type="sumbit">변경</button>
                </div>
            </div>
        </form>



        <form action="/member/modify">
            <div class="bg3" th:each="dto:${list}">
                <div class="mypage">
                    <div>
                        <div>아이디</div>
                        <input type="text" class="loginbg" placeholder="" th:value="${list.getMemberId()}"  name="memberId" disabled>
                        <input type="hidden" th:value="${list.getMemberId()}" name="memberId">
                        <!--disabled 하면 값이 안넘어가서 hidden을 만들어서 값 넘겨준다.-->
                    </div>
                    <div>
                        <div>이름</div>
                        <input type="text" id="member_name" class="loginbg" placeholder="" th:maxlength="5" th:value="${list.getMember_name()}" name="member_name" readonly>
                        <div id="div_name"></div>
                    </div>
                    <div>
                        <div>전화번호</div>
                        <input type="text" id="number" class="loginbg" placeholder="" th:value="${list.getMember_phone()}"  name="member_phone" readonly>
                        <div id="div6"></div>
                    </div>
                    <div>
                        <div>이메일</div>
                        <input type="text" id="mail" class="loginbg" placeholder="" th:value="${list.getMember_email()}"  name="member_email" readonly>
                        <div id="div7"></div>
                    </div>
                    <div>
                        <div>비밀번호</div>
                        <input type="text" id="passwd" class="loginbg" placeholder="" th:value="${list.getMemberPw()}"   name="memberPw" readonly>
                        <div id="div3"></div>
                    </div>
                </div>
                <div style="margin-top: 20px">
                    <button class="modifybtn" type="button">수정하기</button>
                </div>
                <div>
                    <button class="modifybtn1" type="button">취소</button>
                    <button class="modifybtn2" type="button">변경</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<div class="side">
    <a th:href="@{/toMiniPage(id = ${id})}">
        <button class="btnmain2">메인</button>
    </a>
    <a th:href="@{/Guestbook/goGuestbook?(guestbook_host=${id})}">
        <button class="btnmain2">방명록</button>
    </a>
    <a th:href="@{/Album/toAlbumPage?(Album_host=${id})}">
        <button class="btnmain2">사진첩</button>
    </a>
    <a th:href="@{/member/goMypage?(memberId=${id})}">
        <button class="btnmain1">내정보</button>
    </a>
    <div style="margin-top: 270px">
        <iframe id="player-iframe" src="/static/music/player.html" frameborder="0" allow="autoplay"></iframe>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.modifybtn2,.modifybtn1').hide(); //취소,변경이 숨어있다가
        $(".modifybtn").on("click", function () {
            $(".modifybtn").hide();
            $('.modifybtn2,.modifybtn1').show(); // 수정하기 버튼을 누르면 취소 변경이 다시나타남.
            $("input").removeAttr("readonly"); //수정하기버튼누르면 readonly가 해체

            //마이페이지 정규식
            $("#member_name").keyup(function () {
                let regi3 = $("#member_name").val();
                let regex3 = /^[가-힣]{2,5}$/;
                let answer3 = regex3.test(regi3);
                if (!answer3) {
                    $("#div_name").html("이름은 2-5 글자로 설정해주세요.");
                    $("#div_name").css("color", "red")

                } else {
                    $("#div_name").html("사용 가능한 이름입니다.");
                    $("#div_name").css("color", "blue")
                }
            })

            $("#passwd").keyup(function () {
                let passwd = $("#passwd").val();
                let regex2 = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/;
                let answer1 = regex2.test(passwd);
                if (!answer1) {
                    $("#div3").html("영문 및 특수문자 숫자 포함, 8자 이상 20자 이하로 작성해주세요.");
                    $("#div3").css("color", "red")
                } else {
                    $("#div3").html("사용 가능한 비밀번호 입니다.");
                    $("#div3").css("color", "blue")
                }
            })

            $("#mail").keyup(function () {
                let mail = $("#mail").val();
                let regex5 = /^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;
                let answer5 = regex5.test(mail);
                if (!answer5) {
                    $("#div7").html("메일 주소를 확인해 주세요.");
                    $("#div7").css("color", "red")
                } else {
                    $("#div7").html("사용 가능한 메일 입니다.");
                    $("#div7").css("color", "blue")
                }
            })

            $("#number").keyup(function () {
                let number = $("#number").val();
                let regex4 = /^01\d\d{3,4}\d{4}$/;
                let answer4 = regex4.test(number);
                if (!answer4) {
                    $("#div6").html("번호를 확인해 주세요.");
                    $("#div6").css("color", "red")
                } else {
                    $("#div6").html("사용 가능한 번호 입니다.");
                    $("#div6").css("color", "blue")
                }
            })

            $(".modifybtn2").on("click",function (){
                if(($("#member_name").html()=="사용 가능한 이름입니다."||$("#member_name").html()=="")&&($("#div6").html()=="사용 가능한 번호 입니다."||$("#div6").html()=="")&&($("#mail").html()=="사용 가능한 메일 입니다."||$("#mail").html()=="")&&($("#number").html()=="사용 가능한 번호 입니다."||$("#number").html()=="")){
                    $(".modifybtn2").attr("type", "submit");//변경버튼누르면 수정
                }else{
                    alert("확인해")
                }
            })

            $(".modifybtn1").on("click", function () { //취소누르면 reload
                location.reload();
            })
        })

        function fileToBase64(file) {
            const reader = new FileReader();
            reader.readAsDataURL(file)
            reader.onload = () => {
                $("#profile").attr("src", reader.result); // base64
                console.dir(reader.result)   // base64
            }
        }

        $(document).ready(function () {

            $('.profilebtn1,.profilebtn2').hide(); //취소,변경이 숨어있다가
            $(".profilebtn").hide(); //프로필 수정 사라짐.

            $("#profile_img").on("change", function (e) {
                if ($("#profile_img").val() == "") {
                    $("#profile").val();

                    return;
                }
                $(".profileimg").hide(); //프로필 이미지 변경하기 누르면 사라짐. //클래스로 먹이니까 사라짐.
                $('.profilebtn1,.profilebtn2').show(); //취소,변경이 나타남.

                let ext = $("#profile_img").val().split(".").pop().toLowerCase(); //배열의 pop은 가장 마지막요소를 꺼내옴.

                let accept = ["png", "jpg", "jpeg", "gif"]; //담고싶은 확장자만 담아둔다.

                let result = $.inArray(ext, accept); // 첫 번째 인자값이, 두번째 인자 배열안에 존재 한다면 0, 존재하지 않는다면 -1을 반환.

                if (result == -1) {
                    alert("이미지만 사용 가능합니다.")//png,jpg,jpeg,gif
                    $("#profile_img").val(""); //선택한 파일이 무효시킴.

                }

                fileToBase64(document.getElementById("profile_img").files[0]);

                $(".profilebtn1").on("click", function () {
                    location.reload();
                })
            })
        })
    })

    //메인화면에서 검색기능
    function selectById(){
        let idElement = document.getElementById("id");
        if (idElement.value === "") {
            alert("아이디를 입력하세요");
        } else {
            $.ajax({
                url :"/toMiniPage",
                data : {
                    "id" : idElement.value
                }
            }).done(function(resp){
                if(resp!==null) {
                    let popup = window.open(`/toMiniPage?id=${idElement.value}`,"일촌목록","width=900px,height=1000px,scrollbars=yes");
                }else {
                    alert("아이디를 확인해주세요")
                }

            }).fail(function(error){
                alert("아이디를 확인해주세요");
            });
        }
    }



</script>

</body>

</html>
