<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Shop</title>
    <!--        <link rel="stylesheet" href="../static/style.css"/>-->
    <link rel="stylesheet" href="../static/stable.css"/>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
            charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>

<body>


<div class="container">

    <div class="top">
        <div class="">Today : 245</div>
        <div class="">뮤직플레이어 부분</div>
    </div>
    <div class="shopbg">
        <div class="shopbg1">
            <div class="shopbg1-1">
                    <div class="shopbgtitle" style="text-align: center">
                        말
                    </div>
                    <div class="shopbox">
                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/1.gif" class="horseimg"></button>
                                <input type="hidden" value="1.gif">
                            </div>

                            <div class="shopname">
                                200당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/2.gif" class="horseimg"></button>
                                <input type="hidden" value="2.gif">
                            </div>

                            <div class="shopname">
                                390당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/3.gif" class="horseimg"></button>
                                <input type="hidden" value="3.gif">
                            </div>
                            <div class="shopname">
                                300당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/4.gif" class="horseimg"></button>
                                <input type="hidden" value="4.gif">
                            </div>
                            <div class="shopname">
                                200당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/5.gif" class="horseimg"></button>
                                <input type="hidden" value="5.gif">
                            </div>
                            <div class="shopname">
                                420당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/6.gif" class="horseimg"></button>
                                <input type="hidden" value="6.gif">
                            </div>
                            <div class="shopname">
                                200당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/7.gif" class="horseimg"></button>
                                <input type="hidden" value="7.gif">
                            </div>
                            <div class="shopname">
                                220당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/8.gif" class="horseimg"></button>
                                <input type="hidden" value="8.gif">
                            </div>
                            <div class="shopname">
                                200당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/9.gif" class="horseimg"></button>
                                <input type="hidden" value="9.gif">
                            </div>
                            <div class="shopname">
                                220당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/10.gif" class="horseimg"></button>
                                <input type="hidden" value="10.gif">
                            </div>
                            <div class="shopname">
                                420당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/11.gif" class="horseimg"></button>
                                <input type="hidden" value="11.gif">
                            </div>
                            <div class="shopname">
                                420당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/12.gif" class="horseimg"></button>
                                <input type="hidden" value="12.gif">
                            </div>
                            <div class="shopname">
                                220당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/13.gif" class="horseimg"></button>
                                <input type="hidden" value="13.gif">
                            </div>
                            <div class="shopname">
                                600당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/14.gif" class="horseimg"></button>
                                <input type="hidden" value="14.gif">
                            </div>
                            <div class="shopname">
                                220당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/15.gif" class="horseimg"></button>
                                <input type="hidden" value="15.gif">
                            </div>
                            <div class="shopname">
                                220당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/16.gif" class="horseimg"></button>
                                <input type="hidden" value="16.gif">
                            </div>
                            <div class="shopname">
                                300당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/17.gif" class="horseimg"></button>
                                <input type="hidden" value="17.gif">
                            </div>
                            <div class="shopname">
                                220당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/18.gif" class="horseimg"></button>
                                <input type="hidden" value="18.gif">
                            </div>
                            <div class="shopname">
                                200당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/19.gif" class="horseimg"></button>
                                <input type="hidden" value="19.gif">
                            </div>
                            <div class="shopname">
                                420당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/20.gif" class="horseimg"></button>
                                <input type="hidden" value="20.gif">
                            </div>
                            <div class="shopname">
                                220당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/21.gif" class="horseimg"></button>
                                <input type="hidden" value="21.gif">
                            </div>
                            <div class="shopname">
                                300당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/22.gif" class="horseimg"></button>
                                <input type="hidden" value="22.gif">
                            </div>
                            <div class="shopname">
                                300당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/23.gif" class="horseimg"></button>
                                <input type="hidden" value="23.gif">
                            </div>
                            <div class="shopname">
                                200당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/24.gif" class="horseimg"></button>
                                <input type="hidden" value="24.gif">
                            </div>
                            <div class="shopname">
                                220당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/25.gif" class="horseimg"></button>
                                <input type="hidden" value="25.gif">
                            </div>
                            <div class="shopname">
                                220당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/26.gif" class="horseimg"></button>
                                <input type="hidden" value="26.gif">
                            </div>
                            <div class="shopname">
                                200당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/27.gif" class="horseimg"></button>
                                <input type="hidden" value="27.gif">
                            </div>
                            <div class="shopname">
                                220당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/28.gif" class="horseimg"></button>
                                <input type="hidden" value="28.gif">
                            </div>
                            <div class="shopname">
                                300당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="horse">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/29.gif" class="horseimg"></button>
                                <input type="hidden" value="29.gif">
                            </div>
                            <div class="shopname">
                                600당근
                            </div>
                        </div>
                    </div>
            </div>

            <div class="shopbg1-2">
                <div class="shopbg1-2-1">
                    <div class="shopbgtitle">
                        배경
                    </div>
                    <div class="shopbox">
                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="background">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/game.gif"></button>
                                <input type="hidden" value="game.gif">
                            </div>

                            <div class="shopname">
                                1200당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="background">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/snow.gif"></button>
                                <input type="hidden" value="snow.gif">
                            </div>

                            <div class="shopname">
                                1200당근
                            </div>
                        </div>



                    </div>
                </div>
                <div class="shopbg1-2-2">
                    <div class="shopbgtitle">
                        소품
                    </div>
                    <div class="shopbox">
                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="furniture">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/wood.png"></button>
                                <input type="hidden" value="wood.png">
                            </div>
                            <div class="shopname">
                                300당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="furniture">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/straw.png"></button>
                                <input type="hidden" value="straw.png">
                            </div>
                            <div class="shopname">
                                1500당근
                            </div>
                        </div>

                        <div class="carrotbox2">
                            <div class="carrotprice">
                                <input type="hidden" value="furniture">
                                <input type="hidden" value=1>
                                <button class="shopimage" type="button"><img src="/static/img/axe.png"></button>
                                <input type="hidden" value="axe.png">
                            </div>
                            <div class="shopname">
                                1500당근
                            </div>
                        </div>




                    </div>
                </div>
            </div>
        </div>

        <div class="shopbg2">
            <div class="shopbalance">

                <input type="hidden" value="" id="targetproduct">
                <input type="hidden" value="" id="targetprice">
                <input type="hidden" value="" id="targetcategory">
                <div class="balancebox">
                    <div class="coinbalance">보유금액</div>
                    <div class="coinprice" th:text="|${memberdto.member_coin} 당근코인|"></div>
                </div>

                <div class="balancebox">
                    <div class="coinbalance">결제금액</div>
                    <div class="coinprice" id="totalprice">0 당근코인</div>
                </div>

                <div class="balancebox">
                    <div class="coinbalance">잔액</div>
                    <div class="coinbalance" id="afterprice" th:text="|${memberdto.member_coin} 당근코인|"></div>
                </div>

                <div class="balancebox">
                    <button onclick="requestPay()" class="paybutton" id="result">구매하기</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="side">
    <a th:href="@{/stable/toStable(id=${id})}">
        <button class="btnmain2">마구간</button>
    </a>
    <a th:href="@{/game/gameStart(id=${id})}">
        <button class="btnmain2" type="button" id="adc">게임</button>
    </a>
    <a th:href="@{/shop/toShop}">
        <button class="btnmain1">상점</button>
    </a>
    <a th:href="@{/stable/charge}">
        <button class="btnmain2">충전</button>
    </a>
</div>

<script th:inline="javascript">
    $(".shopimage").click(function(){

        let product = $(this).next().val();
        let price  =$(this).prev().val();
        let category = $(this).prev().prev().val();
        $.ajax({
            url:"/shop/wish",
            data:{"product":product,"price":price},
            type:"post"
        }).done(function(resp){
            // console.log(resp);
            $("#totalprice").html(resp + " 당근코인")
            $("#afterprice").html(([[${memberdto.member_coin}]]-resp)  + " 당근코인")
            $("#targetproduct").val(product);
            $("#targetprice").val(price);
            $("#targetcategory").val(category);
            // console.log($("#targetproduct").val())
        }).fail(function(resp){
            console.log("실패");

        })
    })

    $("#result").click(function(){

        let reallybuy = confirm("구매하시겠습니까?");

        if(reallybuy){

            let product = $("#targetproduct").val();
            let price =  $("#targetprice").val();
            let category =  $("#targetcategory").val();

            if (price==""){
                alert("상품을 선택해주세요.");
                return;
            }
            $.ajax({
                url:"/shop/buy",
                data:{"product":product,"price":price,"category":category},
                type:"post"
            }).done(function(resp){

                if(resp){
                    alert("구매에 성공했습니다!");
                    location.reload();
                }else{
                    alert("이미 구입한 상품이거나 보유금액이 부족합니다.");
                }

                // $("#totalprice").html("0 당근코인")
                // $("#afterprice").html([[${memberdto.member_coin}]]  + " 당근코인")
                // $("#targetproduct").val("");
                // $("#targetprice").val(0);
                // console.log($("#targetproduct").val())
            }).fail(function(resp){
                console.log("실패");

            })
        }

    })
</script>
</body>

</html>