<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<style>
    input[type=password] {
        font-style: normal;

    }


</style>
<body>
<form action="/member/insert" id="frm" method="post" enctype="multipart/form-data">
    <div class="logintitle">회원가입</div>
    <div class="loginsection">
        <div class="signinform">
            이름
            <input type="text" class="signinbg" placeholder="이름" name="member_name"><br>
        </div>
        <div class="signinform">
            아이디
            <input type="text" class="signinbg" placeholder="영문,숫자 5~11자" name="memberId"><br>
        </div>

        <div class="signinform">
            비밀번호
            <input type="text" class="signinbg" placeholder="숫자, 영문, 특수문자 조합 최소 8자"><br>
            <input type="password" class="signinbg" placeholder="비밀번호 재입력" name="memberPw"><br>
        </div>

        <div class="signinform">
            이메일
            <input type="text" class="signinbg" placeholder="exapmle@naver.com" name="member_email"><br>
        </div>

        <div class="signinform">
            전화번호
            <input type="text" class="signinbg" placeholder="010-1234-1234" name="member_phone"><br>
        </div>

        <button class="signinbtn">가입하기</button>
        <button class="signinbtn">메인으로</button>
    </div>
</form>
</body>
</html>