<!DOCTYPE html>
<html lang="en">
<script src="https://code.jquery.com/jquery-3.6.1.js"></script>
<!-- iamport.payment.js -->
<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<head>
    <meta charset="UTF-8">
    <title>Signin</title>
    <link rel="stylesheet" href="../static/style.css"/>
</head>
<style>
    input[type=password] {
        font-family: Arial;
    }

    ::placeholder{
        font-family: HS새마을체;
    }
</style>
<body>
<form action="/member/insert" id="frm" method="post" enctype="multipart/form-data">
    <div class="logintitle">회원가입</div>
    <div class="signinsection">
        <div class="signinform" style="margin-top: 30px">
            이름
            <input type="text" class="signinbg" placeholder="이름, 한글 3~5자" name="member_name" id="member_name"><br>
            <div id ="div_name"></div>
        </div>
        <div class="signinform">
            아이디
            <input type="text" class="signinbg" placeholder="영문,숫자 5~11자" name="memberId" id="member_id" maxlength="11"><br>
            <div id=result2></div>
        </div>
        <div id ="div_id"></div>

        <div class="signinform">
            비밀번호
            <input type="password" class="signinbg" placeholder="숫자, 영문, 특수문자 조합 최소 8자" id="passwd" name="memberPw" style="font-size: 0.95em"><br>
            <input type="password" class="signinbg" placeholder="비밀번호 재입력" id ="passwdck" name="member_pw2" style="font-size: 0.95em"><br>
            <div id="div3"></div>
        </div>

        <div class="signinform">
            이메일
            <input type="text" class="signinbg" placeholder="exapmle@naver.com" name="member_email" id="mail"><br>
            <div id="div7"></div>
        </div>

        <div class="signinform">
            휴대폰 번호
            <input type="text" class="signinbg" placeholder="하이픈(-) 제외 입력" name= "member_phone" id="number"><br>
            <div id="div6"></div>
        </div>

        <button class="signinbtn">가입하기</button>
        <!--        <a href="/">-->
        <!--            <button class="signinbtn">메인으로</button>-->
        <!--        </a>-->
        <div style="margin-bottom: 30px"></div>
    </div>
</form>

<script>

    document.getElementById("member_id").onkeyup = function() {
        let id = document.getElementById("member_id").value;
        let regExp = /^[a-z]+[a-z0-9]{4,10}$/g;
        let answer = regExp.test(id);

        $.ajax({
            url:"/member/duplCheck",
            data:{"member_id":id}
        }).done(function(resp){
            console.log(resp);
            if(resp === true){
                $("#result2").html("이미 사용중인 아이디 입니다.");
                $("#result2").css("color","red")
            }else{
                if(answer){
                    $("#result2").html("사용 가능한 아이디 입니다.");
                    $("#result2").css("color","green")
                }
                else {
                    document.getElementById("result2").innerHTML = "아이디를 확인해 주세요.";
                    $("#result2").css("color","red")
                }
            }
        });
    }


    member_name.onkeyup = function() {
        let regi3 = document.getElementById("member_name").value;
        let regex3 = /^[가-힣]{2,5}$/;
        let answer3 = regex3.test(regi3);
        if (!answer3) {
            document.getElementById("div_name").innerHTML = "이름을 확인해 주세요. ";
            $("#div_name").css("color","red")
        }else if (answer3) {
            document.getElementById("div_name").innerHTML = "";
            $("#div_name").css("color","green")
        }

    }
    passwdck.onkeyup = function() {
        let passwd = document.getElementById("passwd").value;
        let passck = document.getElementById("passwdck").value;
        let regex2 = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/;
        let answer1 = regex2.test(passwd);
        let answer2 = regex2.test(passck);
        console.log(answer2)
        if  (answer2.length <= 8 || answer2.length >= 20 ){
            document.getElementById("div3").innerHTML = "비밀번호는 영문 및 특수문자 숫자 포함, 8자 이상 20자 이하로 작성해주세요. ";
            $("#div3").css("color","red")
        }
        if (answer2 == true && answer1 == true && (passwd.length == passck.length)) {
            document.getElementById("div3").innerHTML = "사용 가능한 패스워드 입니다.";
            $("#div3").css("color","green")
        }else if (passck.length != passwd.length){
            document.getElementById("div3").innerHTML = "패스워드를 확인해 주세요. ";
            $("#div3").css("color","red")
        }
    }

    passwd.onkeyup = function() {
        console.log(123)
        let passwd = document.getElementById("passwd").value;
        let passck = document.getElementById("passwdck").value;
        let regex2 = /^(?=.*[a-zA-Z])(?=.*[!@#$%^*+=-])(?=.*[0-9]).{8,25}$/;
        let answer1 = regex2.test(passwd);
        let answer2 = regex2.test(passck);
        console.log(answer2)
        if  (answer2.length <= 8 || answer2.length >= 20 ){
            document.getElementById("div3").innerHTML = "비밀번호는 영문 및 특수문자 숫자 포함, 8자 이상 20자 이하로 작성해주세요. ";
            $("#div3").css("color","red")
        }
        if (answer2 == true && answer1 == true && (passwd.length == passck.length)) {
            document.getElementById("div3").innerHTML = "사용 가능한 패스워드 입니다.";
            $("#div3").css("color","green")
        }
        else if (passck.length != passwd.length){
            document.getElementById("div3").innerHTML = "패스워드를 확인해 주세요. ";
            $("#div3").css("color","red")
        }
    }

    mail.onkeyup = function() {
        let regi5 = document.getElementById("mail").value;
        let regex5 = /^[A-Za-z0-9_]+[A-Za-z0-9]*[@]{1}[A-Za-z0-9]+[A-Za-z0-9]*[.]{1}[A-Za-z]{1,3}$/;
        let answer5 = regex5.test(regi5);
        if (answer5) {
            document.getElementById("div7").innerHTML = "";
            $("#div7").css("color","green")
        } else {
            document.getElementById("div7").innerHTML = "메일 주소를 확인해 주세요.";
            $("#div7").css("color","red")
        }
    }

    number.onkeyup = function() {
        let regi4 = document.getElementById("number").value;
        let regex4 = /^01\d\d{3,4}\d{4}$/;
        let answer4 = regex4.test(regi4);
        if (answer4) {
            document.getElementById("div6").innerHTML = "";
            $("#div6").css("color","green")
        } else {
            document.getElementById("div6").innerHTML = "번호를 확인해 주세요.";
            $("#div6").css("color","red")
        }
    }

    // document.querySelector('button.signinbtn').addEventListener('click', function(event) {
    //     event.preventDefault(); // prevent the form from being submitted
    //
    //     // select the div elements with the specified ids
    //     let divElements = document.querySelectorAll('#div_name, #div7, #div6, #result2, #div3');
    //
    //     // check if any of the div elements contain red text
    //     let hasError = [].slice.call(divElements).some(function(divElement) {
    //         console.log(divElement.style.color)
    //         return divElement.style.color === 'red';
    //     });
    //
    //     if (hasError) {
    //         // display the alert message if any of the div elements contain red text
    //         alert('확인해주세요');
    //     } else {
    //         // otherwise, submit the form
    //         document.getElementById('frm').submit();
    //     }
    // });



    let inputname = document.getElementById("member_name")
    let inputphone = document.getElementById("number")
    let inputid = document.getElementById("member_id")
    let inputmail = document.getElementById("mail")
    let inputpasswd2 = document.getElementById("passwd")
    let inputpasswdck2 = document.getElementById("passwdck")
    let frm = document.getElementById("frm")

    frm.onsubmit = function () {
        let str = inputphone.value;
        let name = inputname.value;
        let id = inputid.value;
        let mail = inputmail.value;
        let passwd3 = inputpasswd2.value;
        let passwdck3 = inputpasswdck2.value;

        if (id == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '아이디를 입력하세요',
                confirmButtonText: '확인'
            }).then(function () {
                inputphone.focus();
            })
            return false;
        } else if (name == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '이름을 입력해 주세요!',
                confirmButtonText: '확인'
            }).then(function () {
                inputname.focus();
            })
            return false;
        }
        else if (passwd3 == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '패스워드를 입력해 주세요!',
                confirmButtonText: '확인'
            }).then(function () {
                inputpasswd2.focus();
            })
            return false;
        }
        else if (passwdck3 != passwd3) {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '패스워드를 확인해 주세요!',
                confirmButtonText: '확인'
            }).then(function () {
                inputpasswdck2.focus();
            })
            return false;
        }
        else if (str == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '휴대폰 번호를 입력해 주세요!',
                confirmButtonText: '확인'
            }).then(function () {
                inputid.focus();
            })
            return false;
        }
        else if (mail == "") {
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: '메일을 입력해 주세요!',
                confirmButtonText: '확인'
            }).then(function () {
                inputid.focus();
            })
            return false;
        }
    }


</script>
</body>
</html>