<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stable</title>
    <link rel="stylesheet" href="../static/stable.css"/>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
            charset="utf-8"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
</head>
<style>

    #bg4{
        position:relative;
    }

    #target {
        position:absolute;
        z-index: 9999;
        display: flex;
        transform:translate(-50%, -50%);
    }


</style>

<body>


<div class="container">

    <div class="top">
        <div class="">Today : 245</div>
        <div class="">뮤직플레이어 부분 </div>
    </div>
    <div class="bg1">
        <div class="bg4" id="bg4" ondragover="dragover_handler(event);" ondrop="drop_handler(event);" >
            <input type="hidden" th:value="${nowdto.itemSeq}" id="hiddenImgSeq">
            <img th:src="|/static/img/@{${nowdto.itemName}}|" draggable="true" id="target" ondrag="drag_handler(event);">

        </div>


        <div class="bg3" >
            <div th:each="i : ${itemlist}" style="overflow-scrolling: auto; width: 250px; display: flex; flex-direction: row">


                <input type="hidden" th:value="${i.itemSeq}">
              <input type="radio" name="radioBtn" class="radioBtn">
                <img  th:src="|/static/img/@{${i.itemName}}|" class="itemimg" draggable="true" ondrag="drag_handler(event)">

            </div>

            <button type="button" id = "modifyOn">수정합시다</button>
            <button type="button" id = "modifyOff">수정완료</button>
        </div>

    </div>
</div>
<div class="side">
    <button class="btnmain1">마구간</button>
    <a th:href="@{/}">
        <button class="btnmain2">게임</button>
    </a>
    <a th:href="@{/}">
        <button class="btnmain2">상점</button>
    </a>
    <a th:href="@{/}">
        <button class="btnmain2">충전</button>
    </a>
</div>

<script>
    function drag_handler(event) {
        // Check if the element is outside of bg4
        if (!event.target.closest('#bg4')) {
            // If it is, disable dragging
            event.target.draggable = false;
        }
    }

    function dragover_handler(event) {
        event.preventDefault();
    }

    function drop_handler(event) {
        // Check if the element is within the boundaries of bg4
        if (event.target.closest('#bg4')) {
            // If it is, update the position of the element
            let x = event.offsetX;
            let y = event.offsetY;

            document.getElementById("target").style.left = x + 'px';
            document.getElementById("target").style.top = y + 'px';

            $.ajax({
                url:"/stable/coordinate",
                data:{"x":x, "y":y},
                type: "post"
            }).done(function(resp){
                console.log("완료")

            }).fail(function(resp){
                console.log("실패")
            })
        }
    }
    $(document).on("click",".radioBtn",function(){
        let imgseq = $(this).prev().val();
        console.log(imgseq)
        $.ajax({
            url:"/stable/update",
            data: {
                "imgSeq":imgseq},
            type:"post"
        }).done(function(resp){
            console.log("완료")
            let realdto = JSON.parse(resp);
            console.log(realdto.itemName)
            $("#target").attr("src","/static/img/"+realdto.itemName+"")
        }).fail(function(resp){
            console.log("실패")
        })
    })


    $("#modifyOff").hide();

    for(let i =0; i<$(".radioBtn").length;i++){
        $($(".radioBtn")[i]).hide();
    }

    $("#modifyOn").click(function(){

            for(let i=0; i<$(".itemimg").length;i++){
                $($(".radioBtn")[i]).show();
            }
            $(this).hide();
            $("#modifyOff").show();




    })

    $("#modifyOff").click(function(){
        for(let i=0; i<$(".itemimg").length;i++){
            $($(".radioBtn")[i]).hide();
        }
        $(this).hide();
        $("#modifyOn").show();
    })

</script>

<script th:inline="javascript">

    $(function(){

        let onloadx = [[${nowdto.itemX}]];
        let onloady = [[${nowdto.itemY}]];

        document.getElementById("target").style.left = onloadx + 'px';
        document.getElementById("target").style.top = onloady + 'px';
    })

</script>

</body>

</html>