<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Stable</title>
    <link rel="stylesheet" href="../static/stable.css"/>
    <link
            href="https://code.jquery.com/ui/1.12.1/themes/ui-lightness/jquery-ui.css"
            rel="stylesheet"
    />

    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>

    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"
            integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
    ></script>

    <script type="text/javascript" src="https://static.nid.naver.com/js/naverLogin_implicit-1.0.3.js"
            charset="utf-8"></script>



</head>
<style>

    .bg3-2-1-1{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 3px solid #5a3d2b;
        border-radius: 4px;
        width: 500px;
        height: 400px;
        /*margin: auto;*/
    }

    #bg4{
        position:relative;
    }

    #target {
        position:absolute;
        z-index: 5;

    }

    .itemimg{
        width: 100px;
        height: 100px;

    }
    .furnitureimg{
        /*position:absolute;*/
        /*z-index: 5;*/
        display: flex;

    }

    .usingfurnitureimg{
        position:absolute;
        z-index: 5;
        display: flex;
    }


</style>

<body>


<div class="container">

    <input type="hidden" name="dto" th:value="${dto}">
    <input type="hidden" name="id" th:value="${id}">

    <div class="top">
        <div class="">Today : 245</div>
        <div class="">뮤직플레이어 부분 </div>
    </div>
    <div class="bg1">

        <div class="bg4" ondragover="dragover_handler(event);" ondrop="drop_handler(event);">
            <!--            <input type="hidden" th:value="${nowdto.itemSeq}" id="hiddenImgSeq">-->
            <!--            <img th:src="|/static/img/@{${nowdto.itemName}}|" draggable="true" id="target" ondrag="drag_handler(event);">-->

            <div class="bg3-2">
                <div>
                    MiniRoom
                </div>
                <div class="bg3-2-1-1" id="bg4">
                    <input type="hidden" th:value="${nowdto.itemSeq}" id="hiddenImgSeq">
<!--                    ondrag="drag_handler(event);"-->
                    <img th:src="|/static/img/@{${nowdto.itemName}}|" draggable="true" id="target" style="width: 200px; height: 200px;">
                    <span th:each="i : ${nowfurniturelist}" class="usingfurnitureimg">
                        <input type="hidden" th:value="${i.itemSeq}">
                        <img  th:src="|/static/img/@{${i.itemName}}|" style="width:75px; height: 75px">
                    </span>

                </div>
            </div>

            <div class="stabletitle">
                보유 말
            </div>
            <div class="stablebg3-3">
                <div class="horse">
                    <div th:each="i : ${itemlist}" style="width: 25%; height: 100px; float: left; margin-top: 30px" >
                        <input type="hidden" th:value="${i.itemSeq}">
                        <input type="radio" name="radioBtn" class="radioBtn">
                        <img  th:src="|/static/img/@{${i.itemName}}|" class="itemimg" draggable="true">
                    </div>
                </div>
            </div>
        </div>


        <div class="bg3" id="bg3">

            <div class="stabletitle">보유 아이템</div>

            <div class="bgimg">
                <div th:each="i : ${bglist}" style="max-width: 300px; height: auto">
                    <input type="hidden" th:value="${i.itemSeq}">
                    <input type="radio" name="radioBtn" class="radioBtn">
                    <img  th:src="|/static/img/@{${i.itemName}}|" class="itembgimg">
                </div>
            </div>
            <div style="margin-bottom: 20px"></div>

            <div class="furniture">
                <div th:each="i : ${furniturelist}" style="width: 100%; height: 100px;">
                    <input type="hidden" th:value="${i.itemSeq}">
                    <input type="checkbox" name="checkboxes" class="checkboxes">
                    <img  th:src="|/static/img/@{${i.itemName}}|" class="furnitureimg">
                </div>
            </div>

            <div>
                <button class="stablebtn" type="button" id = "modifyOn">꾸미기</button>
                <button class="stablebtn" type="button" id = "modifyOff">완료</button>
            </div>

        </div>
    </div>
</div>
<div class="side">
    <button class="btnmain1">마구간</button>
    <a th:href="@{/game/gameStart(id=${id})}">
        <button class="btnmain2" type="button" id="adc">게임</button>
    </a>

    <a th:href="@{/shop/toShop(id=${id})}">
        <button class="btnmain2">상점</button>
    </a>

    <a th:href="@{/stable/charge(id=${id})}">
        <button class="btnmain2">충전</button>
    </a>

</div>

<script th:inline="javascript">

    $("#target").draggable({
        containment: '#bg4'
    })

    $(".usingfurnitureimg").draggable({
        containment: '#bg4'
    })

    $("#target").on("dragstop",function(event){

        // if (event.target.closest('#bg4')) {
        //     // If it is, update the position of the element
        //
        // }

        let x = parseInt($(this).position().left);
        let y = parseInt($(this).position().top);

        console.log(x)
        console.log(y)

        document.getElementById("target").style.left = x + 'px';
        document.getElementById("target").style.top = y + 'px';

        $.ajax({
            url:"/stable/coordinate",
            data:{"x":x, "y":y},
            type: "post"
        }).done(function(resp){

        }).fail(function(resp){

        })
    })

    $(".usingfurnitureimg").on("dragstop",function(event){

        // if (event.target.closest('#bg4')) {
        //     // If it is, update the position of the element
        //
        // }

        let x = parseInt($(this).position().left);
        let y = parseInt($(this).position().top);

        console.log(x)
        console.log(y)

        // $(this).css("left",""+x+"px")
        // $(this).css("top",""+y+"px")
        // this.style.left = x + 'px';
        // this.style.top = y + 'px';
        // console.log($(this));

        let furnitureSeq = $(this).children("input").val();
          // console.log(furnitureSeq.val());

        $.ajax({
            url:"/stable/coordinateFurniture",
            data:{"x":x, "y":y,"furnitureSeq" : furnitureSeq},
            type: "post"
        }).done(function(resp){

        }).fail(function(resp){

        })
    })

    function drag_handler(event) {
        // Check if the element is outside of bg4
        if (!event.target.closest('#bg4')) {
            // If it is, disable dragging
            event.target.draggable = false;
        }

    }


    function dragover_handler(event) {
        event.preventDefault();
    }

    function drop_handler(event) {
        // Check if the element is within the boundaries of bg4
        //console.log(event.target.className);

        console.log("드랍 완료!");
        // if (event.target.closest('#bg4')) {
        //     // If it is, update the position of the element
        //     let x = event.offsetX;
        //     let y = event.offsetY;
        //
        //     document.getElementById("target").style.left = x + 'px';
        //     document.getElementById("target").style.top = y + 'px';
        //
        //     $.ajax({
        //         url:"/stable/coordinate",
        //         data:{"x":x, "y":y},
        //         type: "post"
        //     }).done(function(resp){
        //
        //     }).fail(function(resp){
        //
        //     })
        // }

    }
    $(document).on("click",".radioBtn",function(){
        let imgseq = $(this).prev().val();
        console.log(imgseq)
        $.ajax({
            url:"/stable/update",
            data: {
                "imgSeq":imgseq},
            type:"post"
        }).done(function(resp){
            console.log("완료")
            let realdto = JSON.parse(resp);
            if(realdto.itemCategory == 'horse'){
                $("#target").attr("src","/static/img/"+realdto.itemName+"")
            }else if(realdto.itemCategory == 'background'){
                $("#bg4").css({"background-image":"url(/static/img/"+realdto.itemName+")","background-repeat":"no-repeat",
                    "background-size":"cover"})
                // $("#bg4").attr("style","background-image : url(/static/img/"+realdto.itemName+")")
            }

        }).fail(function(resp){
            console.log("실패")
        })
    })

    $(document).on("click","#modifyOff",function(){

        let really = confirm("수정하시겠습니까?");

        if(really){

            let checkimgseq = [];

            $("input[name=checkboxes]:checked").each(function(){
                let imgseq = $(this).prev().val();
                checkimgseq.push(imgseq);
            })
            let jsoncheckimgseq = JSON.stringify(checkimgseq);
            console.log(checkimgseq)

            $.ajax({
                url:"/stable/updateFurniture",
                data: {
                    "jsoncheckimgseq":jsoncheckimgseq},
                type:"post"
            }).done(function(resp){
                // let furniturelist = JSON.parse(resp);

                location.reload();
                // location.href="/stable/toStable?id="+[[${id}]]+""

            }).fail(function(resp){
                console.log("실패")
            })

            $(this).hide();
            $("#modifyOn").show();
        }

    })


    $("#modifyOff").hide();

    for(let i =0; i<$(".radioBtn").length;i++){
        $($(".radioBtn")[i]).hide();
    }

    for(let i =0; i<$(".checkboxes").length;i++){
        $($(".checkboxes")[i]).hide();
    }

    $("#modifyOn").click(function(){

        for(let i=0; i<$(".itemimg").length;i++){
            $($(".radioBtn")[i]).show();
        }

        for(let i =0; i<$(".checkboxes").length;i++){
            $($(".checkboxes")[i]).show();
        }

        $(this).hide();
        $("#modifyOff").show();




    })

    $("#modifyOff").click(function(){
        for(let i=0; i<$(".itemimg").length;i++){
            $($(".radioBtn")[i]).hide();
        }
        for(let i=0; i<$(".checkboxes").length;i++){
            $($(".checkboxes")[i]).hide();
        }

        $(this).hide();
        $("#modifyOn").show();
    })

</script>


<script th:inline="javascript">

    $(function(){

        let onloadx = [[${nowdto.itemX}]];
        let onloady = [[${nowdto.itemY}]];

        document.getElementById("target").style.left = onloadx + 'px';
        document.getElementById("target").style.top = onloady + 'px';
        console.log(onloadx)
        console.log(onloady)
        $("#bg4").css({"background-image":"url(/static/img/"+[[${nowbgdto.itemName}]]+")","background-repeat":"no-repeat",
            "background-size":"cover"})
        console.log($("#target"))
        // $("#bg4").attr("style","background-image : url(/static/img/"+[[${nowbgdto.itemName}]]+")")

        for(let i=0; i<[[${nowfurniturelist}]].length;i++){
            // console.log([[${nowfurniturelist}]][i]);

            let onloadFx = [[${nowfurniturelist}]][i].itemX;
            let onloadFy = [[${nowfurniturelist}]][i].itemY;
            // console.log(document.getElementsByClassName("usingfurnitureimg")[i]);
            console.log(onloadFx);
            console.log(onloadFy);
            // $(document.getElementsByClassName("usingfurnitureimg")[i]).css("left",""+onloadFx+"px");
            // $(document.getElementsByClassName("usingfurnitureimg")[i]).css("left",""+onloadFy+"px");
            document.getElementsByClassName("usingfurnitureimg")[i].style.left = onloadFx + 'px';
            document.getElementsByClassName("usingfurnitureimg")[i].style.top = onloadFy + 'px';
        }

    })

</script>



</body>

</html>
